<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<th:block th:include="fragments/fac_header.html :: headerfiles"></th:block>
	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	<link rel="stylesheet" th:href="@{/css/faculty/fac_pref.css}">
	<link rel="stylesheet" th:href="@{/css/register.css}">
	
	    
	<title>Faculty Preferences</title>
</head>

<div th:replace="fragments/fac_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("cpref-nav").className+=" active";		
</script>


<body>

<div class="sidebar">
  <table>
  	<tr>
  		<td colspan=4 align=center>
  			Give Preferences
  		</td>
  	</tr>
  	<tr>
  		<td>
  			1
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
			<button class="button">Choose</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			2
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			3
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			4
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			5
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			6
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			7
  		</td>
  		<td>
  			<h6>show selected preference here</h6>
  		</td>
  		<td>
  			<button class="button">Choose</button>	
  		</td>
  	</tr>
  	
  	<tr>
		<td colspan=4 align=center>
       		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Submit  </button>
    	</td> 	  
	</tr>
  </table>
</div>

<div class="content">
  <div class="card bg-light">
<article class="card-body mx-auto">
	<h4 class="card-title mt-3 text-center">Select Elective-id</h4>
	<form th:action="@{/u/student/getFacultyPrefs}"  role="form" method="GET">
	<table>
		<tr>
			<td>
			    Select Elective ID
			</td>
			<td>
				<select class="form-control" th:name="elective_id" th:id="elective_id"required>
					<option th:value="Select_elective_id" style="color:#8F8B87" selected>Select Year</option>
					<option value="SE" style="color:#000">SE</option>
					<option value="TE" style="color:#000">TE</option>
					<option value="BE" style="color:#000">BE</option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button type="submit" id="submit1" class="btn btn-primary btn-block" style="width:150px"> Get Choices  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
	</table>
	</form>
</article>	
<div class="row text-center mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
</div>
<article class="card-body mx-auto" th:if="${studentPref}">

	<h4 class="card-title mt-3 text-center">Give preferences for <span th:text="${chosen_course_name + '(' + chosen_course_id + ')' }"></span></h4>
	
    <form th:action="@{/u/student/setStudentPrefs}"  role="form" method="POST" th:object="${studentPref}"> 
    <table>
    	<tr>
    		<td>
    			Select Preference 1
    		</td>
    		<td>
    			<select class="form-control" th:name="course1" th:id="course1">
					<option th:value="Preference_1" style="color:#8F8B87" selected>Select Preference 1</option>
					<option th:each="i : ${courseList}" th:value="${i.electiveCourseId}" th:text="${i.electiveName}" style="color:#000"></option>
				</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			Select Preference 2
    		</td>
    		<td>
    			<select class="form-control" th:name="course2" th:id="course2">
						<option th:value="Preference_2" style="color:#8F8B87" selected>Select Preference 2</option>
						<option th:each="i : ${courseList}" th:value="${i.electiveCourseId}" th:text="${i.electiveName}" style="color:#000"></option>
					</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			Select Preference 3
    		</td>
    		<td>
    			<select class="form-control" th:name="course3" th:id="course3">
						<option th:value="Preference_3" style="color:#8F8B87" selected>Select Preference 3</option>
						<option th:each="i : ${courseList}" th:value="${i.electiveCourseId}" th:text="${i.electiveName}" style="color:#000"></option>
					</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			Select Preference 4
    		</td>
    		<td>
    			<select class="form-control" th:name="course4" th:id="course4">
					<option th:value="Preference_4" style="color:#8F8B87" selected>Select Preference 4</option>
					<option th:each="i : ${courseList}" th:value="${i.electiveCourseId}" th:text="${i.electiveName}" style="color:#000"></option>
				</select>
    		</td>
    	</tr>
    	
    	<tr>
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button type="submit" id="submit2" class="btn btn-primary btn-block" style="width:165px"> Submit Preferences  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
    </table>
	</form>
</article>

<div class="row text-center mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg1}" th:utext="${msg1}"></div>
</div>  
</div>
</div>

</body>
</html>
