<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<th:block th:include="fragments/fac_header.html :: headerfiles"></th:block>
	
	<link rel="stylesheet" th:href="@{/css/faculty/fac_pref.css}">
	<link rel="stylesheet" th:href="@{/css/register.css}">
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<title>Faculty Preferences</title>

	<script>
		$(document).ready(function(){
		    $("#pref1").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		    $("#pref2").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		    $("#pref3").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		    $("#pref4").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		    $("#pref5").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		    $("#pref6").click(function(){
		        $("#form1").show();
		        $("#form2").hide();
		        $("#heading").hide();
		    });
		});
		
		function showPref(){
            var pref = document.getElementById("selectPref").value;
            course1.innerHTML= pref;
        }
		
		$(document).ready(function(){
			$('#form1').submit(function() {
				return false;
			});
		});
		
		</script>

</head>

<div th:replace="fragments/fac_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("cpref-nav").className+=" active";		
</script>


<body>



<div class="sidebar">
  <table>
  	<tr>
  		<td colspan=4 align=center>
  			<h5>Give Preferences</h5>
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>1</h6>
  		</td>
  		<td style="width:250px">
  			<h6 id="course1"></h6>
  		</td>
  		<td>
			<button class="choose" id="pref1">Choose</button>			
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>2</h6>
  		</td>
  		<td>
  			<h6 id="course2"></h6>
  		</td>
  		<td>
  			<button class="choose" id="pref2">Choose</button>	
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>3</h6>
  		</td>
  		<td>
  			<h6 id="course3"></h6>
  		</td>
  		<td>
  			<button class="choose" id="pref3">Choose</button>	
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>4</h6>
  		</td>
  		<td>
  			<h6 id="course4"></h6>
  		</td>
  		<td>
  			<button class="choose" id="pref4">Choose</button>	
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>5</h6>
  		</td>
  		<td>
  			<h6 id="course5"></h6>
  		</td>
  		<td>
  			<button class="choose" id="pref5">Choose</button>	
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
  		<td>
  			<h6>6</h6>
  		</td>
  		<td>
  			<h6 id="course6"></h6>
  		</td>
  		<td>
  			<button class="choose" id="pref6">Choose</button>	
  		</td>
  		<td>
			<button class="clear">Clear</button>			
  		</td>
  	</tr>
  	
  	<tr>
		<td colspan=4 align=center>
       		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px; background-color: #2B7526;"> Submit  </button>
    	</td> 	  
	</tr>
  </table>
</div>



<div class="content"  >
  <div class="card bg-light">
  <article class="card-body mx-auto">
  	<h4 id="heading">Press the choose button to select preferences</h4>
	<form role="form" id="form1">
	<h4 class="card-title mt-3 text-center">Select Course Year</h4>
	<table>
		<tr>
			<td>
			    Select Year
			</td>
			<td>
				<select class="form-control" th:name="year" th:id="year" required>
					<option th:value="none" style="color:#8F8B87" selected >Select Year</option>
					<option value="SE" style="color:#000">SE</option>
					<option value="TE" style="color:#000">TE</option>
					<option value="BE" style="color:#000">BE</option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button id="getChoices" class="btn btn-primary btn-block" style="width:150px"> Get Choices  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
	</table>
	</form>
</article>	


<div th:id="messageDiv">
<div class="row text-center card-body mx-auto" th:fragment="messageDiv">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	<div class="alert alert-danger" role="alert"  id="err" th:if="${err_msg}" th:utext="${err_msg}"></div>
</div>
</div>


<article class="card-body mx-auto">
    <form role="form" method="GET" id="form2" th:fragment="selectPreferenceFragment"> 
    <h4 class="card-title mt-3 text-center card-body mx-auto">Give preferences for <span th:text="${chosen_year_name}"></span> courses</h4>
    <div th:id="selectPreferenceFragment">
    <table>
    	<tr>
    		<td>
    			Select Course
    		</td>
    		<td>
    			<select class="form-control" th:name="chosenCourse" id="selectPref" onchange="prefChangefun()">
					<option th:value="none" style="color:#8F8B87" selected>Select Course</option>
					<option th:each="i : ${resultSet}" th:text="${i.elective!=null ? i.elective.electiveName +'('+i.elective.electiveCourseId +')' : i.course.courseName +'('+i.course.courseId +')'}" th:value="${i.elective!=null ? i.elective.electiveCourseId : i.course.courseId" style="color:#000"></option>
				</select>
    		</td>
    	</tr>
    	
    	<tr class="exp" style="display: none">
    		<td>
    			Number of times course taught
    		</td>
    		<td>
				<input id="courseExp"  name="courseExp" class="form-control" placeholder="Course Exp" type="number" min="0" required autofocus/>
    		</td>
    	</tr>
    	
    	<tr class="exp" style="display: none">
    		<td>
    			Pre1 times
    		</td>
    		<td>
    			<input id="prereq1Exp"  name="prereq1Exp" class="form-control" placeholder="Prerequisite 1 Exp" type="number" min="0" required autofocus/>
    		</td>
    	</tr>
    	
    	<tr class="exp" style="display: none">
    		<td>
    			Pre2 times
    		</td>
    		<td>
    			<input id="prereq2Exp"  name="prereq2Exp" class="form-control" placeholder="Prerequisite 2 Exp" type="number" min="0" required autofocus/>
    		</td>
    	</tr>
    	
    	<tr class="exp" style="display: none">
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button type="submit" id="submit2" class="btn btn-primary btn-block" onclick="showPref()" style="width:165px"> Select Preference  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
    </table>
    </div>
	</form>
</article>

<div class="row text-center mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg1}" th:utext="${msg1}"></div>
</div>  
</div>
</div>

<script>
	$('#getChoices').click(function(){
		console.log('ajax: '+$('#year').val());
		$.ajax({
	        type: "GET",
	        contentType: "application/json",
	        url: '/u/faculty/getFacPrefForm',
	        data: {year: $('#year').val() },
	        success: function (response) {
              	console.log(response);
              	if ($(response).find('#err').length) {
             	   $('#messageDiv').html('');
             	   $('#messageDiv').html(response); 
             	   $('#form2').hide();
             	   $('#form2').html('');
             	   $('#messageDiv').show();
                }
                else{
	              	$('#form2').html('');
	              	$('#form2').html(response);
	              	$('#form2').show();
	             	$('#messageDiv').hide();                   

                }
              }
		});
	});
	
	//$('#selectPref').change(function () 
	function prefChangefun()
	{
		var selectedPref = $('#selectPref').val();
		if(selectedPref=='none')
		{
			$('.exp').hide();
		}
		else
		{
			$('.exp').show();
		}
	}
</script>
</body>
</html>
