<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/fac_header.html :: headerfiles"></th:block>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	
    <title>Faculty Preferences</title>
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{/css/register.css}">
    
    
    <script>
	    $(document).ready(function () {
	        $("#submit").click(function () {
	
	            var pref1 = $('#course1');
	            var pref2 = $('#course2');
	            var pref3 = $('#course3');
	            var pref4 = $('#course4');
	            
	            
	            if (pref1.val() == "Preference_1")
	                alert("Please select preference 1");
	                $('#course1').focus();
	
	                return false;
	            } 
	            else if (pref2.val() == "Preference_2") {
	                alert("Please select preference 2");
	                $('#course2').focus();
	
	                return false;
	            } 
	            else if (pref3.val() == "Preference_3")
	                alert("Please select preference 3");
	                $('#course3').focus();
	
	                return false;
	            } 
	            else if (pref4.val() == "Preference_4")
	                alert("Please select preference 4");
	                $('#course4').focus();
	
	                return false;
	            } 
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#course1').css('color','#8F8B87');
    	   $('#course2').css('color','#8F8B87');
    	   $('#course3').css('color','#8F8B87');
    	   $('#course4').css('color','#8F8B87');
    	   
    	   $('#course1').change(function() {
    	      var current = $('#course1').val();
    	      if (current != 'Preference_1') {
    	          $('#course1').css('color','black');
    	      } else {
    	          $('#course1').css('color','#8F8B87');
    	      }
    	   }); 
    	   $('#course2').change(function() {
     	      var current = $('#course2').val();
     	      if (current != 'Preference_2') {
     	          $('#course2').css('color','black');
     	      } else {
     	          $('#course2').css('color','#8F8B87');
     	      }
     	   }); 
    	   $('#course3').change(function() {
     	      var current = $('#course3').val();
     	      if (current != 'Preference_3') {
     	          $('#course3').css('color','black');
     	      } else {
     	          $('#course3').css('color','#8F8B87');
     	      }
     	   }); 
    	   $('#course4').change(function() {
     	      var current = $('#course4').val();
     	      if (current != 'Preference_4') {
     	          $('#course4').css('color','black');
     	      } else {
     	          $('#course4').css('color','#8F8B87');
     	      }
     	   }); 
    	});
	    
    </script>
    
</head>

<div th:replace="fragments/fac_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("cpref-nav").className+=" active";		
</script>

<body>
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Give Preferences</h4>
			
	        <form th:action="@{/u/student/setFacultyPrefs}"  role="form" method="POST"> 
				<div class="form-group input-group">
					<select class="form-control" th:name="course1" th:id="course1" required>
						<option th:value="Preference_1" style="color:#8F8B87" selected>Select Preference 1</option>
						<option th:each="i : ${courseList}" th:value="${i.courseId}" th:text="${i.courseName}"></option>
					</select>	
				</div>
				
				<div class="form-group input-group">
					<select class="form-control" th:name="course2" th:id="course2" required>
						<option th:value="Preference_2" style="color:#8F8B87" selected>Select Preference 2</option>
						<option th:each="i : ${courseList}" th:value="${i.courseId}" th:text="${i.courseName}"></option>
					</select>
				</div>
				
				<div class="form-group input-group">
					<select class="form-control" th:name="course3" th:id="course3" required>
						<option th:value="Preference_3" style="color:#8F8B87" selected>Select Preference 3</option>
						<option th:each="i : ${courseList}" th:value="${i.courseId}" th:text="${i.courseName}"></option>
					</select>
				</div>
				
				<div class="form-group input-group">
					<select class="form-control" th:name="course4" th:id="course4" required>
						<option th:value="Preference_4" style="color:#8F8B87" selected>Select Preference 4</option>
						<option th:each="i : ${courseList}" th:value="${i.courseId}" th:text="${i.courseName}"></option>
					</select>
				</div>
				
				<div class="form-group">
			        <button type="submit" id="submit" class="btn btn-primary btn-block"> Submit Preferences  </button>
			    </div> <!-- form-group// -->  
		       
			     
			</form>
		</article>
	</div>
</body>