<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/fac_header.html :: headerfiles"></th:block>
    <title>Faculty Home</title>
	
    <!-- Custom styles for this template -->
   	<!-- <link th:href="@{/css/faculty/fac_home.css}" rel="stylesheet"> -->
</head>
<div th:replace="fragments/fac_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("home-nav").className+=" active";		
</script>
