<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
			<meta charset="UTF-8">
			<th:block th:include="fragments/fac_header.html :: headerfiles"></th:block>
			<title>Resource Requests</title>
			
			<style>
				.buttonAlign {
					text-align: center;
				}
				.inlneTable {
					display: inline-block;
				}
			</style>
			
	</head>
	<div th:replace="fragments/fac_header :: header"></div>
	<!-- script to turn nav link active -->
		<script type="text/javascript">
			var navBar = document.getElementById("nav-bar");		
			var current = navBar.getElementsByClassName("active");
		    // If there's any other active nav, make it inactive
		    if (current.length > 0) { 
		      current[0].className = current[0].className.replace(" active", "");
		    }
			//set current page nav as active
			document.getElementById("requests-nav").className+=" active";
		</script>
	<body>
		<div class="card bg-light" th:fragment="wholeDiv" id="wholeDiv">
			<article class="card-body mx-auto">
				<div class="row">
					<div  th:fragment="requestsDiv" id="requestsDiv">
						<h4 class="card-title mt-3 text-center">Requests for Resource</h4>
						<table th:if="${requests}" class="table table-hover table-light table-bordered" id="reqTable">
							<thead>
								<tr>
									<th>Request Id</th>
									<th>Resource</th>
									<th>Requested By</th>
									<th>Slot Date</th>
									<th>Slot Day</th>
									<th>Slot Activity Name</th>
									<th>Slot Time</th>
									<th>Request details</th>
									<th>Action</th>
								</tr>
							</thead>
							<tr th:each="i : ${requests}">
								<td th:text="${i.requestId}"></td>
								<td th:text="${i.resourceId.resourceId}"></td>
								<td th:text="${i.requestBy.userDets.firstName +' '+i.requestBy.userDets.lastName}"></td>
								<td th:text="${i.slotDate}"></td>
								<td th:text="${i.slotDay}"></td>
								<td th:text="${i.slotActivityName}"></td>
								<td th:text="${i.slotStartTime+' - '+i.slotEndTime}"></td>
								<td th:text="${i.requestedDate +' '+i.requestTime}"></td>
								<td><button class="btn btn-success" name="accept-request" th:id="${i.requestId}">Accept</button>
									<button class="btn btn-danger" name="reject-request" th:id="${i.requestId}">Reject</button>
								</td>	
							</tr>
						</table>
					</div>
				</div>
				
				<div class="row text-center mx-auto">
					<div th:id="messageDiv">
						<div class="text-center" th:fragment="messageDiv">
							<div class="alert alert-success" role="alert" id ="success" th:if="${msg}" th:utext="${msg}"></div>
							<div class="alert alert-danger" role="alert"  id="err" th:if="${err_msg}" th:utext="${err_msg}"></div>
						</div>
					</div>
				</div>
			
				
				<div th:fragment="overlapDiv" id="overlapDiv">					
					<br th:if="${overlappingRequests}"/>
					<hr th:if="${overlappingRequests}"/>
					<hr th:if="${overlappingRequests}"/>
					<br th:if="${overlappingRequests}"/>
						
					<div th:if="${overlappingRequests}" class="inlineTable">
						<h5 class="card-title mt-3 text-center">OverLapping Requests</h5>
						<table class="table table-hover table-light table-bordered" id="overlappingRequestsId">
							<thead>
								<tr>
									<th>Request Id</th>
									<th>Activity Name</th>
									<th>Slot Time</th>
								</tr>
							</thead>
							<tr th:each="i: ${overlappingRequests}">
								<td th:text="${i.requestId}"></td>
								<td th:text="${i.slotActivityName}"></td>
								<td th:text="${i.slotStartTime+' - '+i.slotEndTime}"></td>
							</tr>
						</table>
						<!-- Delete overlapping requests<input type="checkbox" id="requestsCheckbox"> -->
					</div>
						
					<br th:if="${overlappingTimeSlots}"/>
					<hr th:if="${overlappingTimeSlots}"/>
					<hr th:if="${overlappingTimeSlots}"/>
					<br th:if="${overlappingTimeSlots}"/>
						
					<div th:if="${overlappingTimeSlots}" class="inlineTable">
						<h5 class="card-title mt-3 text-center">OverLapping TimeSlots</h5>
						<table class="table table-hover table-light table-bordered" id="overlappingTimeSlotsId">
							<thead>
								<tr>
									<th>Request Id</th>
									<th>Activity Name</th>
									<th>Slot Time</th>
								</tr>
							</thead>
							<tr th:each="i: ${overlappingTimeSlots}">
								<td th:text="${i.requestId}"></td>
								<td th:text="${i.activityName}"></td>
								<td th:text="${i.startTime+' - '+i.endTime}"></td>
							</tr>
						</table>
						<!-- Delete overlapping time slots<input type="checkbox" id="timeSlotsCheckbox"> -->
					</div>
					
					<br th:if="${overlappingTimeTableSlots}"/>
					<hr th:if="${overlappingTimeTableSlots}"/>
					<hr th:if="${overlappingTimeTableSlots}"/>
					<br th:if="${overlappingTimeTableSlots}"/>
						
					<div th:if="${overlappingTimeTableSlots}" class="inlineTable">
						<h5 class="card-title mt-3 text-center">OverLapping TimeTable Slots</h5>
						<table class="table table-hover table-light table-bordered" id="overlappingTimeTableSlotsId">
							<thead>
								<tr>
									<th>Activity Name</th>
									<th>Time</th>
								</tr>
							</thead>
							<tr th:each="i: ${overlappingTimeTableSlots}">
								<td th:text="${i.activityName}"></td>
								<td th:text="${i.startTime+' - '+i.endTime}"></td>
							</tr>
						</table>
						<!-- Delete overlapping time table slots<input type="checkbox" id="timTableSlotsCheckbox"> -->
					</div>
						
					<br />
					<br />
					
					<div th:if="${overlappingTimeTableSlots} or ${overlappingTimeSlots} or ${overlappingRequests}" >
						<div class="buttonAlign">
							<button th:name="final-accept" class="btn btn-warning">Accept Request</button>
						</div>
					</div>
				</div>
					
			</article>
			
		</div>
		
		<script type="text/javascript">
		var curRequest;
		function bindForm(){
			$("[name='final-accept']").click(function(){
				var cnt = 0;
				/*console.log("hi1");
				if($("requestsCheckbox").is(":visible")){
					cnt+=1;
					if($("requestsCheckbox").prop("checked")==true){
						cnt-=1;
					}
				}
				if($("timeSlotsCheckbox").is(":visible")){
					cnt+=1;
					if($("timeSlotsCheckbox").prop("checked")==true){
						cnt-=1;
					}
				}
				if($("timeTableslotsCheckbox").is(":visible")){
					cnt+=1;
					if($("timTableSlotsCheckbox").prop("checked")==true){
						cnt-=1;
					}
				}
				console.log("hi2"); */
				if(cnt!=0){
					alert("Please tick all check boxes!");
				}else{
					$.ajax({
						type: "POST",
				        data: {getOverlapsFor : curRequest},
				        url: '/u/faculty/finalAcceptResourceRequest',
				        success:function(data){
				        	alert("Resource Request accepted successfully!");
			            	window.location.replace("http://127.0.0.1:8080/u/faculty/resourceRequests");
				        }
					});
				}
			});
		}
		
		
		$("[name='accept-request']").click(function(){
			curRequest = this.id;
			console.log(curRequest);
			$.ajax({
		        type: "POST",
		        data: {getOverlapsFor : curRequest},
		        url: '/u/faculty/getOverlappingSlots',
		        success: function (data) {
	               if ($(data).find('#success').length) {
	            		console.log("no overlaps");
	            		$.ajax({
							type: "POST",
					        data: {getOverlapsFor : curRequest},
					        url: '/u/faculty/finalAcceptResourceRequest',
					        success:function(data){
					        	alert("Resource Request accepted successfully!");
				            	window.location.replace("http://127.0.0.1:8080/u/faculty/resourceRequests");
					        }
						});
	               }
	               else{
	            	   console.log("success");
	            	   console.log(data);
	            	   $('#overlapDiv').html(data); 
	            	   alert("All the overlapping requests will be rejected automatically. Please confirm using the given check-boxes.");
	            	   $('html, body').animate({
	                       scrollTop: $('#overlapDiv').offset().top
	                     }, 500);
	              	 }
	               }
			});
			setTimeout(function(){
				bindForm();
				 }, 100);
		});
		$("[name='reject-request']").click(function(){
			var delReq = this.id;
			
			var con = confirm("Are you sure you want to delete the Request : "+delReq+"?");
			if(con==true){
				$.ajax({
					type: "POST",
			        data: {deleteRequestFor : delReq},
			        url: '/u/faculty/deleteResourceRequest',
			        success: function (data) {
		               if ($(data).find('#success').length) {
		            		$('#requestsDiv').html('');
		            		$('#overlapDiv').html('');
		            		$("#messageDiv").html('');
		            		$("#messageDiv").html(data);
		               }
		               else{
		            	   alert("Resource Request Deleted successfully!");
		            	   window.location.replace("http://127.0.0.1:8080/u/faculty/resourceRequests");
		              	 }
		               }
				});
			}
			
		});
		</script>
	</body>
</html>