<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/stud_header.html :: headerfiles"></th:block>
    
    <title>Student Home</title>

</head>

<div th:replace="fragments/stud_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("home-nav").className+=" active";		
</script>

<body>

 	<div class="row">
   		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	</div>
</body>