<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	
    <title>Student Preferences</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
   	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/register.css}">
    
    
    <script>
	    $(document).ready(function () {
	        $("#submit").click(function () {
	
	            var pref1 = $('#pref1');
	            var pref2 = $('#pref2');
	            var pref3 = $('#pref3');
	            var pref4 = $('#pref4');
	            
	            
	            if (pref1.val() == "Preference_1")
	                alert("Please select preference 1");
	                $('#pref1').focus();
	
	                return false;
	            } 
	            else if (pref2.val() == "Preference_2") {
	                alert("Please select preference 2");
	                $('#pref2').focus();
	
	                return false;
	            } 
	            else if (pref3.val() == "Preference_3")
	                alert("Please select preference 3");
	                $('#pref3').focus();
	
	                return false;
	            } 
	            else if (pref4.val() == "Preference_4")
	                alert("Please select preference 4");
	                $('#pref4').focus();
	
	                return false;
	            } 
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#pref1').css('color','#8F8B87');
    	   $('#pref2').css('color','#8F8B87');
    	   $('#pref3').css('color','#8F8B87');
    	   $('#pref4').css('color','#8F8B87');
    	   
    	   $('#pref1').change(function() {
    	      var current = $('#pref1').val();
    	      if (current != 'Preference_1') {
    	          $('#pref1').css('color','black');
    	      } else {
    	          $('#pref1').css('color','#8F8B87');
    	      }
    	   }); 
    	   $('#pref2').change(function() {
     	      var current = $('#pref2').val();
     	      if (current != 'Preference_2') {
     	          $('#pref2').css('color','black');
     	      } else {
     	          $('#pref2').css('color','#8F8B87');
     	      }
     	   }); 
    	   $('#pref3').change(function() {
     	      var current = $('#pref3').val();
     	      if (current != 'Preference_3') {
     	          $('#pref3').css('color','black');
     	      } else {
     	          $('#pref3').css('color','#8F8B87');
     	      }
     	   }); 
    	   $('#pref4').change(function() {
     	      var current = $('#pref4').val();
     	      if (current != 'Preference_4') {
     	          $('#pref4').css('color','black');
     	      } else {
     	          $('#pref4').css('color','#8F8B87');
     	      }
     	   }); 
    	});
	    
    </script>
    
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><img src="@{/img/pccoelogo.png}" width="30" height="30" alt="">QRMS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/u/student/home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/u/student/studentPref">Course Preferences</a>
            </li>
            
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
    
</nav>
<body>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Give Preferences</h4>
	
        <form th:action="@{/u/student/getStudentPrefs}"  role="form" method="GET" th:object="${user}"> 
			<div class="form-group input-group">
	    	
			<select class="form-control" name="pref1" id="pref1" th:object="${string_role}">
				<option value="Preference_1" style="color:#8F8B87" selected>Select Preference 1</option>
				<option value="STUDENT" style="color:#000">S</option>
				<option value="FACULTY" style="color:#000">Faculty</option>
				<option value="ADMIN" style="color:#000">Admin</option>
			</select>
			
			</div>
			
			
			<div class="form-group input-group">
			<select class="form-control" name="pref2" id="pref2" th:object="${string_role}">
				<option value="Preference_2" style="color:#8F8B87" selected>Select Preference 2</option>
				<option value="STUDENT" style="color:#000">S</option>
				<option value="FACULTY" style="color:#000">Faculty</option>
				<option value="ADMIN" style="color:#000">Admin</option>
			</select>
			</div>
			
			
			<div class="form-group input-group">
			<select class="form-control" name="pref3" id="pref3" th:object="${string_role}">
				<option value="Preference_3" style="color:#8F8B87" selected>Select Preference 3</option>
				<option value="STUDENT" style="color:#000">S</option>
				<option value="FACULTY" style="color:#000">Faculty</option>
				<option value="ADMIN" style="color:#000">Admin</option>
			</select>
			</div>
			
			
			<div class="form-group input-group">
			<select class="form-control" name="pref4" id="pref4" th:object="${string_role}">
				<option value="Preference_4" style="color:#8F8B87" selected>Select Preference 4</option>
				<option value="STUDENT" style="color:#000">S</option>
				<option value="FACULTY" style="color:#000">Faculty</option>
				<option value="ADMIN" style="color:#000">Admin</option>
			</select>
			</div>
			
			 <div class="form-group">
	        <button type="submit" id="submit" class="btn btn-primary btn-block"> Create Account  </button>
	    </div> <!-- form-group// -->  
		</form>
</body>