<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>Add Electives</title>

     <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
   	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
    	
	    $(document).ready(function () {
	        $("#submit").click(function () {
	        	
	            var elec = $('#courseId');
	            
	            if (elec.val() == "none") {
	                alert("Please select an elective Id");
	                $('#courseId').focus();
	                
	                return false;
	            }  
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#courseId').css('color','#8F8B87');
    	   $('#courseId').change(function() {
    	      var current = $('#courseId').val();
    	      if (current != 'none') {
    	          $('#courseId').css('color','black');
    	      } else {
    	          $('#courseId').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
    </script>
    
  
</head> 

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><img th:src="@{/img/pccoelogo.png}" width="30" height="30" alt="">QRMS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/u/admin/home}">Home</a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/u/admin/register}">Registration</a>
            </li>
            
    		<li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/add-course}">Add Courses</a>
            </li>        
            
             <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/openCourseAllocation}">Course Allocation</a>
            </li> 
            
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/process_student_allocation}">Start allocation</a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/u/admin/add-elective}">Add Elective</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/u/admin/clearPreferences}">Clear Elective Preferences</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<body>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Add Elective</h4>

	<form th:action="@{/u/admin/add_elective}"  role="form" method="POST" th:object="${elective}"> 
	<table>
		<tr>
			<td>
			    Select Elective ID
			</td>
			<td>
				<select class="form-control" th:id="courseId" th:name="courseId" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Elective</option>
					<option th:each="elec : ${electivesList}" th:value="${elec.courseId}"  th:text="${elec.courseName + '(' + elec.courseId + ')'}" style="color:#000"></option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td>
			    Elective Suffix
			</td>
			<td>
				<input id="suffix" name="suffix" class="form-control" placeholder="Elective ID Suffix" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
			    Elective Name
			</td>
			<td>
				<input th:id="electiveName" th:name="electiveName" th:field="*{electiveName}" class="form-control" placeholder="Elective Name" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button type="submit" id="submit" class="btn btn-primary btn-block" style="width:150px"> Add Elective  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
	</table>   	                                           
	</form>			
</article>

	<div class="row text-center mx-auto">
		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	</div>  
</div>
</body>