<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>Add Electives</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
    	var theoryCheck;
	    $(document).ready(function () {
	        $("#submit").click(function () {
	        	
	            var elec = $('#courseId');
	            
	            if (elec.val() == "none") {
	                alert("Please select an elective Id");
	                $('#courseId').focus();
	                
	                return false;
	            } else if(theoryCheck)  {
		            	
	            	if($('#prerequisiteNo1').val()=='' && $('#prerequisiteNo2').val()==''){
	            		if(confirm('Are you sure the course has no prerequisites?'))
	            			return true;
	           
		            	$('#prerequisiteNo1').focus();
		            	return false;
		            	
		            } else if ($('#prerequisiteNo2').val()==''){
		            	if(confirm('Are you sure the course has only one prerequisites?'))
	            			return true;
		            	
		            	$('#prerequisiteNo2').focus();
		            	return false;
		            	
		            	return false;
		           	} else if ($('#prerequisiteNo1').val()=='' && $('#prerequisiteNo2').val()!=''){
		            	alert("If atleast one prerequisite exists then prerequisite 1 field cannot be empty");
		            	$('#prerequisiteNo1').focus();
		            	
		            	return false;
		           	}
	            } else if(!theoryCheck) {
	            	if ($('#companionTheory').val()==''){
	            		alert("Please enter Companion Theory Course ID");
		            	$('#companionTheory').focus();
		            	
		            	return false;
	            	}
	            }
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#courseId').css('color','#8F8B87');
    	   $('#courseId').change(function() {
    	      var current = $('#courseId').val();
    	      if (current != 'none') {
    	          $('#courseId').css('color','black');
    	      } else {
    	          $('#courseId').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
    </script>
    
  
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<body>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("addElective-nav").className+=" active";		
</script>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;" id="article1">
	<h4 class="card-title mt-3 text-center">Add Elective</h4>

	<form th:action="@{/u/admin/add_elective}"  role="form" method="POST" th:object="${elective}"> 
	<table>
		<tr>
			<td>
			    Select Elective ID
			</td>
			<td>
				<select class="form-control" th:id="courseId" th:name="courseId" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Elective</option>
					<option th:each="elec : ${electivesList}" th:value="${elec.courseId}"  th:text="${elec.courseName + '(' + elec.courseId + ')'}" 
					 th:attr="istheo=${elec.isTheory}"
					 style="color:#000"></option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td>
			    Elective Suffix
			</td>
			<td>
				<input id="suffix" name="suffix" class="form-control" placeholder="Elective ID Suffix" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
			    Elective Name
			</td>
			<td>
				<input th:id="electiveName" th:name="electiveName" th:field="*{electiveName}" class="form-control" placeholder="Elective Name" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr class="practicalClass" style="display: none">
			<td>
				Companion Course ID
			</td>
			<td>
				<input id="companionTheory" name="companionTheory" class="form-control" placeholder="Companion Course ID" type="text"/>
			</td>
		</tr>
		
		<tr class="theoryClass" style="display: none">
			<td>
				Enter Prerequisite 1 ID
			</td>
			<td>
				<input id="prerequisiteNo1" name="prerequisiteNo1" class="form-control" placeholder="prerequisite 1 Course ID" type="text"/>
			</td>
		</tr>
		
		<tr class="theoryClass" style="display: none">
			<td>
				Enter Prerequisite 2 ID
			</td>
			<td>
				<input id="prerequisiteNo2" name="prerequisiteNo2" class="form-control" placeholder="prerequisite 2 Course ID" type="text"/>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
		        	<button type="submit" id="submit" class="btn btn-primary btn-block" style="width:150px"> Add Elective  </button>
		    	</div> <!-- form-group// -->  
			</td>
		</tr>
	</table>   	                                           
	</form>			
</article>

	<div class="row text-center mx-auto">
		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
		<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
	</div>  
</div>

<script>
$('#article1').on("change","select",function(){
	if($(this).val()=='none'){
		$('.practicalClass').css("display",'none');
		$('.theoryClass').css("display",'none');
	}
	else{
		console.log($(this).find(':selected').attr('istheo'));
		theoryCheck = $(this).find(':selected').attr('istheo');
		if(theoryCheck==1) {
			$('.practicalClass').css("display",'none');
			$('.theoryClass').css("display",'');
		} else {
			$('.practicalClass').css("display",'');
			$('.theoryClass').css("display",'none');
		}
	}
	
});
</script>
</body>