<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <title>Delete Course Or Elective</title>

    <link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
    	//display semester options as per year selected
	    $(document).ready(function () {
	        $("#courseYear").change(function () {
	            var val = $(this).val();
	            if (val == "FE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
	            } else if (val == "SE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
	            } else if (val == "TE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='5' style='color:#000'>5</option><option value='6' style='color:#000'>6</option>");
	            } else if (val == "BE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='7' style='color:#000'>7</option><option value='8' style='color:#000'>8</option>");
	            } else if (val == "ME1") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
	            } else if (val == "ME2") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
	            } else if (val == "none") {
	            	$("#courseSem").html("<option value=''>Select Semester</option>");
	            }
	        });
	    });
		
	    $(document).ready(function () {
	        $("#submit_elective").click(function () {
	        	
	            var elId = $('#electiveIdOption');
	            
	          	if (elId.val() == "none") {
	                alert("Please select an elective");
	                $('#electiveIdOption').focus();
	                
	               return false;
	            }
	        });
	    });
    	
	    $(document).ready(function () {
	        $("#submit_all").click(function () {
	        	
	            if ($('#c_type').val()=="R"){
	            	if($('#c_id').equals('')){
	            		alert("Please enter course Id.");
	            		$('#c_id').focus();
	            		
	            		return false;
	            	}
	            }else if($('#c_type').val()=="E"){
	            	if($('#e_id').equals('')){
	            		alert("Please enter elective Id.");
	            		$('#e_id').focus();
	            		
	            		return false;
	            	}
	            }
	            
	            return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#dept').css('color','#8F8B87');
    	   $('#dept').change(function() {
    	      var current = $('#dept').val();
    	      if (current != 'none') {
    	          $('#dept').css('color','black');
    	      } else {
    	          $('#dept').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	
	    $(document).ready(function() {
    	   $('#courseYear').css('color','#8F8B87');
    	   $('#courseYear').change(function() {
    	      var current = $('#courseYear').val();
    	      if (current != 'none') {
    	          $('#courseYear').css('color','black');
    	      } else {
    	          $('#courseYear').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
	    	   $('#electiveIdOption').css('color','#8F8B87');
	    	   $('#electiveIdOption').change(function() {
	    	      var current = $('#electiveIdOption').val();
	    	      if (current != 'none') {
	    	          $('#electiveIdOption').css('color','black');
	    	      } else {
	    	          $('#electiveIdOption').css('color','#8F8B87');
	    	      }
	    	   }); 
	    	});
	    
	    $(document).ready(function() {
    	   $('#courseSem').css('color','#8F8B87');
    	   $('#courseSem').change(function() {
    	      var current = $('#courseSem').val();
    	      if (current != '0') {
    	          $('#courseSem').css('color','black');
    	      } else {
    	          $('#courseSem').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function(){
	    	$('#selectedElective').css('color','#8F8B87');
	    	$('#selectedElective').change(function() {
	    	      var current = $('#selectedElective').val();
	    	      if (current != 'none') {
	    	          $('#courseSem').css('color','black');
	    	          document.getElementById("seats").placeholder = "Enter new Seats";
	    	      } else {
	    	          $('#courseSem').css('color','#8F8B87');
	    	      }
	    	   });
	    });
		
	    $(document).ready(function(){
	    	$('#c_type').change(function(){
	    		var current = $('#c_type').val();
	    		if(current=="R"){
	    			$('.RClass').css("display",'');
	    			$('.EClass').css("display",'none');
	    			$('.NClass').css("display",'');
	    		}
	    		else if(current=="E"){
	    			$('.RClass').css("display",'none');
	    			$('.EClass').css("display",'');
	    			$('.NClass').css("display",'');
	    		}
	    		else{
	    			$('.RClass').css("display",'none');
	    			$('.EClass').css("display",'none');
	    			$('.NClass').css("display",'none');
	    		}
	    	});
	    });
    </script>

  
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<body>
     
     <!-- script to turn nav link active -->
	<script type="text/javascript">
		var navBar = document.getElementById("nav-bar");		
		var current = navBar.getElementsByClassName("active");
	    // If there's any other active nav, make it inactive
	    if (current.length > 0) { 
	      current[0].className = current[0].className.replace(" active", "");
	    }
		//set current page nav as active
		document.getElementById("delElective-nav").className+=" active";		
	</script>
<div class="card bg-light">
<article class="card-body mx-auto">

	<h6 class="card-title mt-3 text-center NClass">Choose Course Type</h6>
	
	
	<form th:action="@{/u/admin/delete-course-elective}"  role="form" method="POST" id="all_form">   
		<table>
			<tr>
				<td>
					Course Type
				</td>
				<td>
					<select class="form-control" th:id="c_type" th:name="c_type" autofocus>
						<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
						<option th:value="R" style="color:#8F8B87">Regular Course</option>
						<option th:value="E" style="color:#8F8B87">Normal Elective</option>
					</select>
				</td>
			</tr>
			
			<tr class="RClass" style="display: none">
					<td>
						Enter Course Id
					</td>	
					<td>
						<input class="form-control" placeholder="Enter Course Id (ex: 414005)" type="text" id="c_id" name="c_id">
					</td>
			</tr>
			<tr class="RClass" style="display: none">
				<td colspan="2" align="center">
					<span>Note: All the related Electives (if any) will be deleted.</span>
				</td>
			</tr>
			<tr class="EClass" style="display: none">
					<td>
						Enter Elective Id
					</td>	
					<td>
						<input class="form-control" placeholder="Enter Course Id (ex: 414005A)" type="text" id="e_id" name="e_id">
					</td>
			</tr>
			<tr class="EClass" style="display: none">
				<td colspan="2" align="center">
					<span>Note: The elective and related student preferences will be deleted.</span>
				</td>
			</tr>
			<tr>
			<td colspan=2 align=center style="display:none" class="NClass">
				<div class="form-group">
	        		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Delete </button>
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>
		</table>
	</form>
		
</article>
	<div class="row text-center card-body mx-auto">
		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
 		<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
 	</div>  
</div>
</body>