<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>
    
    <title>Departments</title>

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
    <!-- Custom styles for this template -->
   	<link th:href="@{/css/admin/admin_home.css}" rel="stylesheet">
   	<link rel="stylesheet" th:href="@{/css/register.css}">
  	<link rel="stylesheet" th:href="@{/css/admin/admin_dept.css}">
   	
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script>
		$(document).ready(function() {
	 	   $('#year').css('color','#8F8B87');
	 	   $('#year').change(function() {
	 	      var current = $('#year').val();
	 	      if (current != 'none') {
	 	          $('#year').css('color','black');
	 	      } else {
	 	          $('#year').css('color','#8F8B87');
	 	      }
	 	   }); 
	 	});
		
		$(document).ready(function() {
    	   $('#incharge').css('color','#8F8B87');
    	   $('#incharge').change(function() {
    	      var current = $('#incharge').val();
    	      if (current != 'none') {
    	          $('#incharge').css('color','black');
    	      } else {
    	          $('#incharge').css('color','#8F8B87');
    	      }
    	   }); 
    	});
		
		$(document).ready(function() {
    	   $('#resourceType').css('color','#8F8B87');
    	   $('#resourceType').change(function() {
    	      var current = $('#resourceType').val();
    	      if (current != 'none') {
    	          $('#resourceType').css('color','black');
    	      } else {
    	          $('#resourceType').css('color','#8F8B87');
    	      }
    	   }); 
    	});
		
		$(document).ready(function() {
    	   $('#selectAction').css('color','#8F8B87');
    	   $('#selectAction').change(function() {
    	      var current = $('#selectAction').val();
    	      if (current != 'none') {
    	          $('#selectAction').css('color','black');
    	      } else {
    	          $('#selectAction').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	</script>
   	
	
</head>

<div th:replace="fragments/admin_header :: header"></div>
<body>
<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("dept-nav").className+=" active";		
</script>

<div class="sidebar">
  
  <table class="table table-bordered table-hover" style="width:350px" >
  <thead>
  	<tr>
  		<td colspan =2 align=center>
  		<h4>Departments</h4>
  		</td>
  	</tr>
  </thead>
  <tr th:each="dept,iterStat: ${departments}">
		<td style="width:350px">
			<h6 th:text="${dept.deptName + ' ('+ dept.deptId+')'}" ></h6>
		</td>
		
		<td>
			<button class="btn btn-primary" name="manageButton" th:id="${dept.deptId}">Manage</button>
		</td>		
	</tr>
	 </table>
	 
	<form id="addDeptForm" action="/u/admin/addDept" method="POST">
	<table style="border: 1px solid #000000; width:350px" cellpadding="5">  	
  	<tr>
  		<td colspan=2 align=center>
			<h6>Add New Department</h6>
		</td>
  	</tr>
  	<tr>
  		<td>
			Department Name
		</td>
  		<td>
   			<input id="deptName"  name="deptName" th:field="${newDept.deptName}" class="form-control"  type="text" required autofocus/>
   		</td>
  	</tr>
  	
  	<tr>
  		<td>
			Department ID
		</td>
  		<td>
   			<input id="deptId"  name="deptId" th:field="${newDept.deptId}" class="form-control" type="text" required autofocus/>
   		</td>
  	</tr>
  	<tr>
		<td  align=center  colspan=2>
       		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px; background-color: #2B7526;">Add Department</button>
    	</td> 	  
	</tr>
	</table> 
  </form>
</div>


<div class="content">
  <div class="card bg-light">
  <article class="card-body mx-auto">
  <div th:fragment="manageDeptFragment" id="manageDeptFragment">
  <div th:if="${manageDept}">
  	<h3  th:text="${manageDept.deptName}" style="color:blue; margin-bottom: 30px;"></h3>
  	
  	 <table>
  	 	<tr>
  	 		<td>
  	 			Select Action
  	 		</td>
  	 		<td>
  	 			<select class="form-control" id="selectAction" onchange="performAction()">
					<option th:value="none" style="color:#8F8B87" selected >Select Action</option>
					<option value="addDiv" style="color:#000">Add Divisions</option>
					<option value="addResource" style="color:#000">Add Resource</option>
				</select>
  	 		</td>
  	 	</tr>
	</table>
	
	
	<h5 class="card-title mt-3 text-center"><span id = "heading"></span></h5>
	
  	
  	<form th:object="${div}" id="addDivForm" role="form">
  	
  	<table>
		<tr>
			<td>
			    Select Year
			</td>
			<td>
				<input type="hidden" th:value="${manageDept.deptId}" th:name="dept">
				<select class="form-control" th:field="*{year}" id="year">
					<option th:value="none" style="color:#8F8B87" selected >Select Year</option>
					<option value="SE" style="color:#000">SE</option>
					<option value="TE" style="color:#000">TE</option>
					<option value="BE" style="color:#000">BE</option>
					<option value="ME1" style="color:#000">ME 1</option>
					<option value="ME2" style="color:#000">ME 2</option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td>
				Division Name
			</td>
			<td>
		        	<input type="text" class="form-control" th:field="*{divName}" placeholder="Enter division name" required autofocus>
			</td>
		</tr>
		
		<tr>
			<td>
				Number of batches
			</td>
			<td>
		        	<input type="number" min=1 class="form-control" th:field="*{noOfBatches}" placeholder="Enter number of batches" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<button  type="submit" class="btn btn-primary" style = "width:60%" id="addDivSubmitButton">Add division</button>
			</td>
		</tr>
	</table>
	</form>
	
	
	<form th:object="${res}" id="addResourceForm" role="form">
  	<table>
		<tr>
			<td>
			    Resource ID
			</td>
			<td>
				<input type="hidden" th:value="${manageDept.deptId}" th:name="dept">
				<input type="text" class="form-control" th:field="*{resourceId}" placeholder="Enter resource ID" required autofocus>
			</td>
		</tr>
		
		<tr>
			<td>
				Resource Name
			</td>
			<td>
		        <input type="text" class="form-control" th:field="*{resourceName}" placeholder="Enter resource name" required autofocus>
			</td>
		</tr>
		
		<tr>
			<td>
				Resource Info
			</td>
			<td>
		        <input type="text" class="form-control" th:field="*{resourceInfo}" placeholder="Enter resource info" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Resource Type
			</td>
			<td>
				<select class="form-control" id="resourceType" th:field="*{resourceType}">
					<option th:value="none" style="color:#8F8B87" selected >Select Type</option>
					<option value="Classroom" style="color:#000">Classroom</option>
					<option value="Lab" style="color:#000">Lab</option>
					<option value="Hall" style="color:#000">Hall</option>
				</select>			
			</td>
		</tr>
		
		<tr>
			<td>
				Resource Capacity
			</td>
			<td>
		        <input type="number" min=1 class="form-control" th:field="*{resourceCapacity}" placeholder="Enter resource capacity" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Resource Incharge
			</td>
			<td>
				<select class="form-control" id="incharge" th:name="incharge" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Incharge</option>
					<option th:each="fac : ${faculties}" th:value="${fac.userName}"  th:text="${fac.firstName+' '+fac.lastName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<button  type="submit" class="btn btn-primary" style = "width:60%" id="addResSubmitButton">Add Resource</button>
			</td>
		</tr>
	</table>
	</form>
	
	
  </div>
  </div>
  <div class="row text-center card-body mx-auto" th:fragment="messageDiv" th:id="messageDiv">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	<div class="alert alert-danger" role="alert"  id="err" th:if="${err_msg}" th:utext="${err_msg}"></div>
  </div>
  </article> 
  </div>
</div>
	<script>
		function performAction() {
			var action = document.getElementById("selectAction").value;
			if(action == "addDiv") {
				$("#addDivForm").show();
				$("#addResourceForm").hide();
				$('#messageDiv').html("");
				var heading = document.getElementById("heading");
				heading.innerHTML = "Add Divisions";
			} else if(action == "addResource") {
				$("#addDivForm").hide();
				$("#addResourceForm").show();
				$('#messageDiv').html("");
				var heading = document.getElementById("heading");
				heading.innerHTML = "Add Resource";
			} else {
				$("#addDivForm").hide();
				$("#addResourceForm").hide();
				$('#messageDiv').html("");
				var heading = document.getElementById("heading");
				heading.innerHTML = "";
			}
			
		}
		
		
		function bindForm(){
			 $( "#addDivForm" ).on( "submit", function( event ) {
				  event.preventDefault();
				  var year = $("#year",this).val();
				  if(year == 'none'){
					  alert('Please select year');
					  return false;
				  }
				  
				  $.ajax({
				        type: "POST",
				        url: '/u/admin/addDivision',
				        data: $( this ).serialize(),
				        success: function (response) {
				        	$('#messageDiv').html('');
				        	$('#messageDiv').html(response);
				        }
					});
				  
				  document.getElementById("addDivForm").reset();
			 });	
			 
			 $( "#addResourceForm" ).on( "submit", function( event ) {
				  event.preventDefault();
				  
				  var type = $("#resourceType",this).val();
				  if(type == 'none'){
					  alert('Please select a resource type');
					  return false;
				  }
				  var fac = $("#incharge",this).val();
				  if(fac == 'none'){
					  alert('Please select a resource incharge');
					  return false;
				  }
				  
				  
				  $.ajax({
				        type: "POST",
				        url: '/u/admin/addResource',
				        data: $( this ).serialize(),
				        success: function (response) {
				        	$('#messageDiv').html('');
				        	$('#messageDiv').html(response);
				        }
					});
				  
				  document.getElementById("addResourceForm").reset();
				  
			 });	
		
		}
		$("[name='manageButton']").click(function(){
			$("#addDivForm").hide();
			$("#addResourceForm").hide();
			$("#addDivisionButton").show();
			$("#addResourceButton").show();
			 var curDept = this.id;
			 $.ajax({
			        type: "GET",
			        contentType: "application/json",
			        url: '/u/admin/manageDept',
			        data: { dept : curDept},
			        dataType: 'html',
			        mimeType: 'application/json',
			        success: function (response) {
			        	$('#manageDeptFragment').html('');
			        	$('#manageDeptFragment').html(response);
			        }
		    
				});
			 setTimeout(function(){
				 bindForm();
				 }, 500);
			 			
		});
	</script>
</body>