<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Elective batches</title>
	<th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>
    <!-- Custom styles for this template -->
   	<link th:href="@{/css/admin/admin_home.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   	<script>
   	/*
   	$(function(){
   	
   		$("#submitNoOfBatches").click(function(){
	  		
	  		var electiveBatchCounts = [];
	  		$.each($('.batches'), function() {
	  			electiveBatchCounts.push({"electiveId":this.id,"noOfBatches":$(this).val()});
	  		});
	  		
	  		console.log(electiveBatchCounts);
	  		
	  		electiveBatchCounts = JSON.stringify({
	  			'electiveBatchCounts': electiveBatchCounts
	  		});
	  		
	  		console.log(electiveBatchCounts);
	  		// data: electiveBatchCounts,
	  		$.ajax({
	  			type: "POST",
	  		    method : "POST",
	  	        contentType: "application/json",
	  	        url: '/u/admin/setbatches',
	  	        dataType: 'html',
	  	        mimeType: 'application/json'
	  	        success: function (response) {
	  	        	console.log(response);
	  	        	//window.location.replace("http://127.0.0.1:8080/u/admin/home");
	  	        }
	  		});
	  		
   		
   		});
   	
   	});
   	*/
   	</script>
</head>

<body>

<div class="card bg-light">
		<article class="card-body mx-auto">
		<h4 class="card-title mt-3 text-center">Enter Requirements</h4>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
							Elective Id
						</th>
						<th>
							Students Count
						</th>
						<th>
							Number of batches to form
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i:${electiveToCount}">
						<td th:text="${i.key}" th:attr="data-ptr=${i.key}"></td>
						<td th:text="${i.value}"></td>
						<td>
							<input th:id="${i.key}" th:name="electiveNoOfBatches" class="batches form-control" type="number" required>
						</td>
					</tr>
					<tr>
						<td colspan="3" align="center">
							<button  type = "submit" class="btn btn-primary" id="submitNoOfBatches" onclick="setBatches()">Submit</button>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" th:value="${deptId}" id="deptId"></input>
			<input type="hidden" th:value="${year}" id="year"></input>
			
		</article>
		<div class="row text-center mx-auto">
			<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
			<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
		</div>  
	</div>
</body>
<script>
function setBatches(){
	var electiveBatchCounts = [];
	
	$.each($('.batches'), function() {
		electiveBatchCounts.push({"electiveId":this.id,"noOfBatches": parseInt($(this).val())});
	});
	
	var deptId = $('#deptId').val();
	var year = $('#year').val();
	
	electiveBatchCounts = JSON.stringify({
		'electiveBatchCounts': electiveBatchCounts,
		'year': year,
		'deptId': deptId
	});
	
	$.ajax({
        type: "POST",
        url: '/u/admin/set-batches',
        contentType: "application/json",
        dataType: 'html',
        data: electiveBatchCounts,
        mimeType: 'application/json',
        success: function (response) {
        	alert("Batches created successfully");
        	window.location.replace("http://127.0.0.1:8080/u/admin/home");        }
	});
}

</script>
</html>