<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>Faculty Allocation</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
    $(document).ready(function () {
        $("#courseYear").change(function () {
            var val = $(this).val();
            if (val == "FE") {
                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
            } else if (val == "SE") {
                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
            } else if (val == "TE") {
                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='5' style='color:#000'>5</option><option value='6' style='color:#000'>6</option>");
            } else if (val == "BE") {
                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='7' style='color:#000'>7</option><option value='8' style='color:#000'>8</option>");
            } else if (val == "none") {
            	$("#courseSem").html("<option value=''>Select Semester</option>");
            }
        });
    });
	    
    </script>
    
  
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<body>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("facultyAllocation-nav").className+=" active";		
</script>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 600px;" id="article1">
	<h4 class="card-title mt-3 text-center">Perform Faculty to Course Allocation</h4>
	<form method="POST" action="/u/admin/performFacultyAllocation">
	<table>
		<tr class="form-group">
			<td>
			    Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${departments}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		<tr class="form-group">
			<td>
			    Select Semester
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="sem" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Semester</option>
					<option th:value="0" style="color:#000">Odd</option>
					<option th:value="1" style="color:#000">Even</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
	        		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Run Allocation  </button>
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>	
	</table>
	</form>
	<div >
	<table class="table table-bordered table-hover" th:if="${pracAllotmentList}"> 
	<thead class="thead-dark">
    <tr>    
      <th scope="col">FacultyID</th>
      <th scope="col">Theory Courses</th>      
      <th scope="col">Theory Hours</th>
      <th scope="col">Practical Courses</th>
      <th scope="col">Practical Hours</th>
      <th scope="col">Load Alloted</th>
      <th scope="col">Maximum Load</th>
      
    </tr>
  	</thead>			
  	<tbody>
    	<tr th:each="rs : ${pracAllotmentList}">
    	
     	<td th:text="${rs.courseName +' (' + rs.courseId + ')'}">
     	<!--Hidden input fields  -->  	   	
     	</td>
     	<td th:text="${rs.year}"></td>
     	<td th:text="${rs.sem}"></td>
     	<td th:text="${rs.deptId}"></td>
     	<td th:text="${rs.submitCount + '/' + rs.totalStudentCount}"></td>
    	<td>
    	<input type="hidden" th:name="courseId" th:value="${rs.courseId}"></input>
     	<input type="hidden" th:name="courseName" th:value="${rs.courseName}"></input>
     	<input type="hidden" th:name="courseYear" th:value="${rs.year}"></input>
     	<input type="hidden" th:name="courseSem" th:value="${rs.sem}"></input>
     	<input type="hidden" th:name="deptId" th:value="${rs.deptId}"></input>  
    		<select class="form-control" th:name="selectAction" onchange="if(this.value!='none') { SubmitForm('tableForm'); }">
				<option th:value="none" style="color:#8F8B87" selected>Select action</option>			
				<option th:value="closeForms" style="color:#000">Close forms</option>				
				<option th:value="summary" th:if="${rs.submitCount}!=0" style="color:#000">Perform allocation</option>								
				<option th:value="clearPrefs" style="color:#000">Clear preferences</option>
			</select>
    	</td>
   	</tr>
  </tbody>
</table>
	</div>
</article></div>
</body>