<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>Faculty Allocation</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
    $(document).ready(function () {
    	
    
    	$('#submit').click(function(){
    		var dept = $('#dept').val();
    		var sem = $('#sem').val();
    		if(dept=='none'){
    			alert("Please select a department");
    			return false;
    		}
    	});
    	
    	
    	
    });
	    
    </script>
    
  
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<body>

<!-- script to turn nav link active -->
	<script type="text/javascript">
		navbar_activation("facultyAllocation-nav");
	</script>
<div class="card bg-light">
<article class="card-body mx-auto" id="article1">
	<h4 class="card-title mt-3 text-center">View Faculty to Course Allocation details</h4>
	<form method="POST" action="/u/admin/showFacultyAllocation">
	<table>
		<tr class="form-group">
			<td>
			    Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${departments}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
	        		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Show Allocations  </button>
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>	
	</table>
	</form>
	</article>
	<div th:id="messageDiv">
	<div class="text-center card-title mx-auto" style="max-width:40%;" th:fragment="messageDiv">
		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
		<div class="alert alert-danger" role="alert"  id="err" th:if="${err_msg}" th:utext="${err_msg}"></div>
	</div>
	</div>
	<article class="card-body mx-auto" th:if="${facAllotmentList}">
	
	<table class="table table-bordered table-hover" > 
	<thead class="thead-dark">
		<!-- <tr>
			<td colspan="7" align="center">
				<button class="btn btn-primary" th:id="downloadAllocationListBtn" onclick="downloadAllocationsFile()">Download Allocations File</button>
			</td>
		</tr> -->
	    <tr>
	      <th scope="col">Username</th>
	      <th scope="col">Name</th>
	      <th scope="col">Theory Hours</th>
	      <th scope="col">Practical Hours</th>
	      <th scope="col">Total Load Alloted</th>
	      <th scope="col">Maximum Load</th>
	      <th scope="col">Details</th>
	    </tr>
  	</thead>
  	<tbody>
    	<tr th:each="rs,iterStat : ${facAllotmentList}">
     	<td th:text="${rs.facultyId}" th:id="${iterStat.count} + username"></td>
     	<td th:text="${rs.name}" th:id="${iterStat.count} + name"></td>
     	<td th:text="${rs.theoryHours}" th:id="${iterStat.count} + thHours"></td>
     	<td th:text="${rs.practicalHours}" th:id="${iterStat.count} + prHours"></td>
     	<td th:text="${rs.allotedLoad}" th:id="${iterStat.count} + allotedHours"></td>
    	<td th:text="${rs.maxLoad}" th:id="${iterStat.count} + maxHours"></td>
   		<td>
   		 <button class="btn" name="viewDetailsButton" th:id="${iterStat.count}">View Details</button>
   		
   		</td>
   		</tr>
  	</tbody>
	</table>
	<br><br>
	<div id="viewDetailsDiv" th:fragment="viewDetailsDiv">
	<div th:if="${facultyAllocation}">
 		<h5 id="nameDet" th:text="${facultyAllocation.name}"></h5>
	 <ol>
	 <li th:if="${!facultyAllocation.courseAndDivs.empty}">Courses alloted
	 <table class="table table-bordered table-hover">
	 <thead>
		 <tr>
			 <td>Course ID</td>
			 <td>Course Name</td>
			 <td>Division</td>
			 <td>Hours</td>
		 </tr>
	 </thead>
	 <tbody>
		<tr th:each="fa,iterStat : ${facultyAllocation.courseAndDivs}">
			<td th:text="${fa.courseId}"></td>
			<td th:text="${facultyAllocation.courses[iterStat.index]}">
			<td th:text="${fa.divisionId}"></td>
			<td th:text="${fa.noOfHours}"></td>	
	 	</tr>
	 	</tbody>
	 </table>
	</li>
	<li th:if="${!facultyAllocation.practicalsAndBatches.empty}">Labs Alloted
	<table class="table table-bordered table-hover">
	 <thead>
		 <tr>
			 <td>Practical Course ID</td>
			 <td>Practical Name</td>
			 <td>Theory Course ID</td>
			 <td>Division</td>
			 <td>Batch</td>
			 <td>Hours</td>
		 </tr>
	 </thead>
	 <tbody>
		<tr th:each="fa,iterStat : ${facultyAllocation.practicalsAndBatches}">
			<td th:text="${fa.practicalCourseId}"></td>
			<td th:text="${facultyAllocation.practicals[iterStat.index]}">
			<td th:text="${fa.theoryCourseId}"></td>
			<td th:text="${fa.divId}"></td>
			<td th:text="${fa.labId}"></td>
			<td th:text="${fa.noOfHours}"></td>	
	 	</tr>
	 	</tbody>
	 </table>	
	</li>
</ol>
 
</div>
</div>
</article>
	
</div>
</body>

 <script th:inline = "javascript">
	/*<![CDATA[*/
	$('[name="viewDetailsButton"]').click(function(){
			var i = this.id;
			$.ajax({
 	 	        type: "GET",
 	 	        url: '/u/admin/getFacultyAllocationByIndex',
 	 	        data: {i: i},
 	 	        success: function (data) {
 	 	        	
 	        		$("#viewDetailsDiv").html('');
 	 	        	$("#viewDetailsDiv").html(data);
 	 	  	 	 	     			
 	 	        	
 	               }
 	 		});
			
			  $('html, body').animate({
			        scrollTop: $("#viewDetailsDiv").offset().top
			    }, 1000);
		});
	
	/*]]>*/
	
	/* $(document).ready(function () {
		/*<![CDATA[*/
		function downloadAllocationsFile(){
			var list = /*[[${facAllotmentList}]]*/ 'default';
			console.log(list);
		}
		
		/*]]>*/
	
	</script>
</html>


