<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Home</title>

     <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><img th:src="@{/img/pccoelogo.png}" width="30" height="30" alt="">QRMS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/u/admin/home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/u/admin/register">Registration</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/u/admin/add-course">Add Courses</a>
            </li>
            
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/openCourseAllocation}">Course Allocation</a>
            </li> 
            
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/process_student_allocation}">Start allocation</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" th:href="@{/u/admin/add-elective}">Add Elective</a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" th:href="@{/u/admin/clearPreferences}">Clear Elective Preferences</a>
            </li>
            
            
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<article class="card-body mx-auto" style="max-width:70%;">

<h3>Student Preferences</h3>
<div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">Elective</th>
      <th scope="col">Count</th>
    </tr>
  </thead>			
  <tbody>
    <tr th:each="stud : ${students}">
     	<td th:text="${stud.year}"></td>
     	<td th:text="${stud.sem}"></td>
     	<td>Null</td>
     	<td th:text="${stud.count}"></td>
    </tr>
  </tbody>
</table>
</div>
</article>
</body>