<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>
    
    <title>Admin Home</title>

    <!-- Custom styles for this template -->
   	<link th:href="@{/css/admin/admin_home.css}" rel="stylesheet">
   
</head>

<div th:replace="fragments/admin_header :: header"></div>
<body>
<article class="card-body mx-auto" style="max-width:70%;">

<h3>Student Preferences</h3>
<div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">Elective</th>
      <th scope="col">Count</th>
    </tr>
  </thead>			
  <tbody>
    <tr th:each="stud : ${students}">
     	<td th:text="${stud.year}"></td>
     	<td th:text="${stud.sem}"></td>
     	<td>Null</td>
     	<td th:text="${stud.count}"></td>
    </tr>
  </tbody>
</table>
</div>
</article>
</body>