<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>
    
    <title>Admin Home</title>

    <!-- Custom styles for this template -->
   	<link th:href="@{/css/admin/admin_home.css}" rel="stylesheet">
	<script>
	function SubmitForm(formId) {
	    var oForm = document.getElementById(formId);
	    oForm.submit(); 
	}
	</script>
</head>

<div th:replace="fragments/admin_header :: header"></div>
<body>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("home-nav").className+=" active";		
</script>

<article class="card-body mx-auto" style="max-width:70%;">
<div class="container">
	<div class="row">
		<div class="col-sm">
			<h5 class="float-left">Active student elective choice forms</h5>
		</div>
		<div class="col-sm">	
			<a href="/u/admin/getStudPrefDetailsTable" class="btn btn-primary" >View Details</a>
		</div>
	</div>
</div>
<div class="row text-center card-body mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
</div>
<form action="/u/admin/performQuickAction-student" method="post" id="tableForm">  
<table class="table table-bordered table-hover" th:if="${studCountInfo}">
  <thead class="thead-dark">
    <tr>    
      <th scope="col">Elective</th>
      <th scope="col">Year</th>      
      <th scope="col">Semester</th>
      <th scope="col">Department</th>
      <th scope="col">Form submissions</th>
      <th scope="col">Select Action</th>
    </tr>
  </thead>			
  <tbody>
    <tr th:each="rs : ${studCountInfo}">
    	
     	<td th:text="${rs.courseName +' (' + rs.courseId + ')'}">
     	<!--Hidden input fields  -->  	   	
     	</td>
     	<td th:text="${rs.year}"></td>
     	<td th:text="${rs.sem}"></td>
     	<td th:text="${rs.deptId}"></td>
     	<td th:text="${rs.submitCount + '/' + rs.totalStudentCount}"></td>
    	<td>
    	<input type="hidden" th:name="courseId" th:value="${rs.courseId}"></input>
     	<input type="hidden" th:name="courseYear" th:value="${rs.year}"></input>
     	<input type="hidden" th:name="courseSem" th:value="${rs.sem}"></input>
     	<input type="hidden" th:name="deptId" th:value="${rs.courseId}"></input>  
    		<select class="form-control" th:name="selectAction" onchange="if(this.value!='none') { SubmitForm('tableForm'); }">
				<option th:value="none" style="color:#8F8B87" selected>Select action</option>
				<option th:value="closeForms" style="color:#000">Close forms</option>				
				<option th:value="performAllocation" th:if="${rs.submitCount}!=0" style="color:#000">Perform allocation</option>
				<option th:value="clearPrefs" th:if="${rs.submitCount}!=0" style="color:#000">Clear preferences</option>
			</select>
    	</td>
   	</tr>
  </tbody>
</table>
</form>   
</article>
</body>