<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Register Users</title>

     <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
   	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/register.css}">
    
    <script>
    $(document).ready(function () {
        $("#year").change(function () {
            var val = $(this).val();
            if (val == "FE") {
                $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
            } else if (val == "SE") {
                $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
            } else if (val == "TE") {
                $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='5' style='color:#000'>5</option><option value='6' style='color:#000'>6</option>");
            } else if (val == "BE") {
                $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='7' style='color:#000'>7</option><option value='8' style='color:#000'>8</option>");
            } else if (val == "none") {
            	$("#sem").html("<option value=''>Select Semester</option>");
            }
        });
    });

	    $(document).ready(function () {
	        $("#submit").click(function () {
	
	            var role = $('#role');
	            
	            if (role.val() == "selectrole") {
	                alert("Please select a role");
	                $('#role').focus();
	
	                return false;
	            } else if(document.getElementById('studentForm').style.display === 'block'){
	            	var year = $('#year');
	 	            var sem = $('#sem');
	 	            var dept = $('#dept');
	 	            var shift = $('#shift');
	 	            
	 	           if (dept.val() == "none") {
		                alert("Please select a course department");
		                $('#dept').focus();
		                
		                return false;
		            }  else if (year.val() == "none") {
		                alert("Please select a course year");
		                $('#year').focus();
		                
		               return false;
		            } else if (sem.val() == "0") {
		                alert("Please select a semester");
		                $('#sem').focus();
		                
		                return false;
		            }  else if (shift.val() == "0") {
		            	alert("Please select a shift");
		                $('#shift').focus();
						return false;
		            }
	            }
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#role').css('color','#8F8B87');
    	   $('#role').change(function() {
    	      var current = $('#role').val();
    	      if(current == 'STUDENT'){
	  	            document.getElementById('studentForm').style.display = 'block';
    	      }
    	      else{
	  	            document.getElementById('studentForm').style.display = 'none';
    	      }
    	      
    	      if (current != 'selectrole') {
    	          $('#role').css('color','black');
    	      } else {
    	          $('#role').css('color','#8F8B87');
    	
    	      }
    	   }); 
    	});
	    
    </script>
    
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><img th:src="@{/img/pccoelogo.png}" width="30" height="30" alt="">QRMS</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" th:href="@{/u/admin/home}">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/u/admin/register}">Registration</a>
            </li>
            
    		<li class="nav-item">

                <a class="nav-link" th:href="@{/u/admin/add-course}">Add Courses</a>

            </li>        
            
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/openCourseAllocation}">Course Allocation</a>
            </li> 
            
            
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/u/admin/process_student_allocation}">Start allocation</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/u/admin/add-elective">Add Elective</a>
            </li>
             
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<body>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	
	<form th:action="@{/u/admin/register_users}"  role="form" method="POST" th:object="${user}"> 
		<div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
			<select class="form-control" th:name="role" th:id="role" autofocus>
				<option value="selectrole" style="color:#8F8B87" selected>Select Role</option>
				<option th:each="role : ${roles}" th:value="${role.role}"  th:text="${role.role}" style="color:#000"></option>
			</select>
		</div> <!-- form-group end.// -->
		
		<div class="form-group input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
	        <input id="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" type="text" required autofocus/>
	    </div> <!-- form-group// -->
	    
	    <div class="form-group input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
	        <input id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" type="text" required autofocus/>
	    </div> <!-- form-group// -->
	    
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			 </div>
	        <input id="email"  th:field="*{email}" class="form-control" placeholder="Email address" type="email" required autofocus/>
	    </div> <!-- form-group// -->    
	    
	    <!--Following part is displayed if role is STUDENT  -->
	    <div id="studentForm" th:object="${student}" style="display:none">
	    
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
			<select class="form-control" th:id="dept" th:name="dept" autofocus>
				<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
				<option th:each="dept : ${department}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
			</select>
		</div> <!-- form-group end.// -->
		
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>	
	    <select class="form-control" name="year" id="year" required th:field="*{year}">
				<option value="none" style="color:#8F8B87" selected>Select Year</option>
				<option value="FE" style="color:#000">FE</option>
				<option value="SE" style="color:#000">SE</option>
				<option value="TE" style="color:#000">TE</option>
				<option value="BE" style="color:#000">BE</option>
		</select>
		</div>
		
		<div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
			<select class="form-control"  name="sem" id="sem" required th:field="*{sem}">
				<option value="0" style="color:#8F8B87" selected>Select Semester</option>
			</select>
		</div> <!-- form-group end.// -->	    
		
		<div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
	    <select class="form-control" name="shift" id="shift" required th:field="*{shift}">
				<option value="0" style="color:#8F8B87" selected>Select Shift</option>
				<option value="1" style="color:#000">1</option>
				<option value="2" style="color:#000">2</option>
		</select>
		</div>
		
	    <div class="form-group input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
	        <input id="division" th:field="*{div}" class="form-control" placeholder="Division" type="text" required autofocus/>
	    </div> <!-- form-group// -->
	    	    		
		<div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
	 	        <input id="rollno" th:field="*{rollno}" class="form-control" placeholder="Roll number" type="text" required autofocus/>
		</div>
		<div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
			</div>
	 			<input type="number" step="0.01" th:field="*{aggMarks}" class ="form-control" placeholder="Aggregate CGPA" required autofocus/>			
	 	</div>
				    
	    </div>
	    <div class="form-group">
	        <button type="submit" id="submit" class="btn btn-primary btn-block"> Create Account  </button>
	    </div> <!-- form-group// -->                                                   
	</form>
	     
</article>
		<div class="row text-center card-body mx-auto">
			<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
			
	    	<div class="alert alert-danger" role="alert" th:if="${errmsg}" th:utext="${errmsg}"></div>
	 	</div>  
</div>
 	
</body>