<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Register Users</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
    
    <script>
	   $(document).ready(function () {
	       $("#year").change(function () {
	           var val = $(this).val();
	           if (val == "FE") {
	               $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
	           } else if (val == "SE") {
	               $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
	           } else if (val == "TE") {
	               $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='5' style='color:#000'>5</option><option value='6' style='color:#000'>6</option>");
	           } else if (val == "BE") {
	               $("#sem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='7' style='color:#000'>7</option><option value='8' style='color:#000'>8</option>");
	           } else if (val == "none") {
	           	$("#sem").html("<option value=''>Select Semester</option>");
	           }
	       });
	   });

	    $(document).ready(function () {
	        $("#submit").click(function () {
	
	            var role = $('#role');
	            if (role.val() == "selectrole") {
	                alert("Please select a role");
	                $('#role').focus();
	
	                return false;
	            } else if(document.getElementById('studentForm').style.display == ''){
	            	var year = $('#year');
	 	            var sem = $('#sem');
	 	            var dept = $('#dept');
	 	            var shift = $('#shift');
	 	        
	 	           if (dept.val() == "none") {
		                alert("Please select a department");
		                $('#dept').focus();
		                
		                return false;
		            }  else if (year.val() == "none") {
		                alert("Please select year");
		                $('#year').focus();
		                
		               return false;
		            } else if (sem.val() == "0") {
		                alert("Please select a semester");
		                $('#sem').focus();
		                
		                return false;
		            }  else if (shift.val() == "0") {
		            	alert("Please select a shift");
		                $('#shift').focus();
						return false;
		            }
	            }
	            else if(document.getElementById('facultyForm').style.display == ''){
	 	            var dept = $('#dept1');
		 	       	var des = $('#facDesignation');
		 	       	var qual = $('#facQualification');
	
	 	          	if (dept.val() == "none") {
		                alert("Please select department");
		                $('#dept').focus();
		                
		                return false;
		            } else if(des.val() == "none"){
		            	alert("Please select faculty designation");
		                des.focus();
		            	
		                return false;
		            } else if (qual.val() == "none") {
		                alert("Please select faculty qualification");
		               	qual.focus();
		                
		               return false;
		            } 
	 	          	
	            }
	            
	            else return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#role').css('color','#8F8B87');
    	   $('#role').change(function() {
    	      var current = $('#role').val();
    	      if(current == 'STUDENT'){
    	    	  document.getElementById('facultyForm').style.display = 'none';
    	    	  document.getElementById('studentForm').style.display = '';
    	    	  $("#facExp").prop('required',false);
    	    	  $("#division").prop('required',true);
    	    	  $("#rollno").prop('required',true);
    	    	  $("#cgpa").prop('required',true);
    	    	  
    	      }
    	      else if(current == 'FACULTY'){
    	    	  document.getElementById('studentForm').style.display = 'none';
    	    	  document.getElementById('facultyForm').style.display = '';
    	    	  $("#facExp").prop('required',true);
    	    	  $("#division").prop('required',false);
    	    	  $("#rollno").prop('required',false);
    	    	  $("#cgpa").prop('required',false);
    	    	  
    	      }
    	      else{
    	    	  document.getElementById('facultyForm').style.display = 'none';
    	    	  document.getElementById('studentForm').style.display = 'none';
    	    	  $("#facExp").prop('required',false);
    	    	  $("#division").prop('required',false);
    	    	  $("#rollno").prop('required',false);
    	    	  $("#cgpa").prop('required',false);
    	    	  
    	      }
    	      
    	      if (current != 'selectrole') {
    	          $('#role').css('color','black');
    	      } else {
    	          $('#role').css('color','#8F8B87');
    	
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#dept').css('color','#8F8B87');
    	   $('#dept').change(function() {
    	      var current = $('#dept').val();
    	      if (current != 'none') {
    	          $('#dept').css('color','black');
    	      } else {
    	          $('#dept').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#year').css('color','#8F8B87');
    	   $('#year').change(function() {
    	      var current = $('#year').val();
    	      if (current != 'none') {
    	          $('#year').css('color','black');
    	      } else {
    	          $('#year').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#sem').css('color','#8F8B87');
    	   $('#sem').change(function() {
    	      var current = $('#sem').val();
    	      if (current != '0') {
    	          $('#sem').css('color','black');
    	      } else {
    	          $('#sem').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#shift').css('color','#8F8B87');
    	   $('#shift').change(function() {
    	      var current = $('#shift').val();
    	      if (current != '0') {
    	          $('#shift').css('color','black');
    	      } else {
    	          $('#shift').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
    </script>
    
</head>

<div th:replace="fragments/admin_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("registerUsers-nav").className+=" active";		
</script>
<body>

<div class="card bg-light">
<article class="card-body mx-auto">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	
	<form th:action="@{/u/admin/register_users}"  role="form" method="POST" th:object="${user}"> 
	<table>
		<tr>
			<td>
				Select Role
			</td>
			<td>
				<select class="form-control" th:name="role" th:id="role" autofocus>
					<option value="selectrole" style="color:#8F8B87" selected>Select Role</option>
					<option th:each="role : ${roles}" th:value="${role.role}"  th:text="${role.role}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				First Name
			</td>
			<td>
				<input id="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Last Name
			</td>
			<td>
				<input id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" type="text" required autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Email
			</td>
			<td>
				<input id="email"  th:field="*{email}" class="form-control" placeholder="Email address" type="email" required autofocus/>   
			</td>
		</tr>
		
		<tbody id="studentForm" style="display: none">
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${department}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
	
		<tr>
			<td>
				Select Year
			</td>
			<td>
				<select class="form-control" name="year" id="year" th:field="${student.year}">
					<option value="none" style="color:#8F8B87" selected>Select Year</option>
					<option value="FE" style="color:#000">FE</option>
					<option value="SE" style="color:#000">SE</option>
					<option value="TE" style="color:#000">TE</option>
					<option value="BE" style="color:#000">BE</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select Semester
			</td>
			<td>
				<select class="form-control"  name="sem" id="sem" th:field="${student.sem}">
					<option value="0" style="color:#8F8B87" selected>Select Semester</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select Shift
			</td>
			<td>
				<select class="form-control" name="shift" id="shift" th:field="${student.shift}">
					<option value="0" style="color:#8F8B87" selected>Select Shift</option>
					<option value="1" style="color:#000">1</option>
					<option value="2" style="color:#000">2</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Division
			</td>
			<td>
				<input id="division" th:name="divName" class="form-control" placeholder="Division" type="text" autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Roll no.
			</td>
			<td>
				<input id="rollno" th:field="${student.rollno}" class="form-control" placeholder="Format: 101,102.." pattern="[0-9]{3}" type="text" autofocus/>
			</td>
		</tr>
		
		<tr>
			<td>
				Aggregate Marks
			</td>
			<td>
				<input type="number" step="0.01" th:field="${student.aggMarks}" class ="form-control" placeholder="Aggregate CGPA" id="cgpa" autofocus/>			
			</td>
		</tr> 
		</tbody>
		
		<!--Faculty form  -->
		<tbody id="facultyForm" style="display: none">
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept1" th:name="dept1" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${department}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Designation
			</td>
			<td>
				<select  class ="form-control"  autofocus th:id="facDesignation" th:name="facDesignation">
					<option value="none" style="color:#8F8B87">Select Designation</option>
					<option value="prof" style="color:#000">Professor</option>
					<option value="assistant prof" style="color:#000">Asst. Professor</option>
					<option value="associate prof" style="color:#000">Assoc. Professor</option>					
				</select>			
				
			</td>
		</tr>
		<tr>
			<td>
				Qualification
			</td>
			<td>
				<select  class ="form-control" autofocus th:id="facQualification" th:name="facQualification">
					<option value="none" style="color:#8F8B87">Select Qualification</option>
					<option value="phD" style="color:#000">PhD</option>
					<option value="mtech" style="color:#000">ME/M.Tech</option>
				</select>	
			</td>
		</tr>
		<tr>
			<td>
				Experience
			</td>
			<td>
				<input type="number" class ="form-control" placeholder="Experience (in years)" autofocus th:id="facExp" th:name="facExp"/>								
			</td>
		</tr>
		
		</tbody>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
	        		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Create Account  </button>
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>
		
		</table>
		                                           
	</form>
</article>

<div class="row text-center card-body mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
   	<div class="alert alert-danger" role="alert" th:if="${errmsg}" th:utext="${errmsg}"></div>
</div>  
</div>
 	
</body>