<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  	<link rel="stylesheet" th:href="@{/css/register.css}">
   
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <title>Show student allocations</title>

    <script>
    	//display semester options as per year selected
    	/*$(document).ready(function () {
    		$('#allocTable').DataTable();
    	});*/
    	
	    $(document).ready(function () {
	        $("#courseYear").change(function () {
	            var val = $(this).val();
	            if (val == "FE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='1' style='color:#000'>1</option><option value='2' style='color:#000'>2</option>");
	            } else if (val == "SE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='3' style='color:#000'>3</option><option value='4' style='color:#000'>4</option>");
	            } else if (val == "TE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='5' style='color:#000'>5</option><option value='6' style='color:#000'>6</option>");
	            } else if (val == "BE") {
	                $("#courseSem").html("<option value='0' style='color:#8F8B87' selected>Select Semester</option><option value='7' style='color:#000'>7</option><option value='8' style='color:#000'>8</option>");
	            } else if (val == "none") {
	            	$("#courseSem").html("<option value=''>Select Semester</option>");
	            }
	        });
	    });
		
	    $(document).ready(function () {
	        $("#submit_elective").click(function () {
	        	
	            var cyear = $('#electiveIdOption');
	            var csem = $('#electiveIdOption');
	            
	          	if (cyear.val() == "none") {
	                alert("Please select an elective");
	                $('#electiveIdOption').focus();
	                
	               return false;
	            }
	        });
	    });
    	
	    $(document).ready(function () {
	        $("#submit_all").click(function () {
	        	
	            var cyear = $('#courseYear');
	            var csem = $('#courseSem');
 				var dept = $('#dept');
	            
	            if (dept.val() == "none") {
	                alert("Please select a course department");
	                $('#dept').focus();
	                
	                return false;
	            }
	            
	            else if (cyear.val() == "none") {
	                alert("Please select a course year");
	                $('#courseYear').focus();
	                
	               return false;
	            } else if (csem.val() == "0") {
	                alert("Please select a semester");
	                $('#courseSem').focus();
	                
	                return false;
	            }
	            else if( $('#electiveIdOption').val() == 'none' ){
	            	alert("Please select Elective number");
	            	$('#electiveIdOption').focus();
	            	
	            	return false;
	            }  
	            /*console.log($('#dept').val());
				console.log($('#courseYear').val());
				console.log($('#courseSem').val());
				form = $('#all_form')
				console.log(form);
				console.log(course);
				$.ajax({
			        type: "POST",
			        contentType: "application/json",
			        url: '/u/admin/findElectivesToShow',
			        data: {
			        	dept: $('#dept').val(),course:course
			        	
			        },
			        success: function (response) {
			        	if ($(response).find('#err').length){
			        		$('#messageDiv').html('');
		             	   	$('#messageDiv').html(response);
			        	}else{
			        		$('#elective_fragment').html('');
			        		$('#elective_fragment').html(response);
			        		$('#messageDiv').hide();
			        	}
			        	 
			        }
				});*/    	
			    //  	 
			        
				});
	        });
	    
	    $(document).ready(function() {
    	   $('#dept').css('color','#8F8B87');
    	   $('#dept').change(function() {
    	      var current = $('#dept').val();
    	      if (current != 'none') {
    	          $('#dept').css('color','black');
    	      } else {
    	          $('#dept').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	
	    $(document).ready(function() {
    	   $('#courseYear').css('color','#8F8B87');
    	   $('#courseYear').change(function() {
    	      var current = $('#courseYear').val();
    	      if (current != 'none') {
    	          $('#courseYear').css('color','black');
    	      } else {
    	          $('#courseYear').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
	    	   $('#electiveIdOption').css('color','#8F8B87');
	    	   $('#electiveIdOption').change(function() {
	    	      var current = $('#electiveIdOption').val();
	    	      if (current != 'none') {
	    	          $('#electiveIdOption').css('color','black');
	    	      } else {
	    	          $('#electiveIdOption').css('color','#8F8B87');
	    	      }
	    	   }); 
	    	});
	    
	    $(document).ready(function() {
    	   $('#courseSem').css('color','#8F8B87');
    	   $('#courseSem').change(function() {
    	      var current = $('#courseSem').val();
    	      if (current != '0') {
    	          $('#courseSem').css('color','black');
    	      } else {
    	          $('#courseSem').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    function exportTableToCSV() {
	    	var filename = 'allocations.csv';
	    	
	        var csv = [];
	        var rows = document.querySelectorAll("#allocTable tr");
	        
	        for (var i = 0; i < rows.length; i++) {
	            var row = [], cols = rows[i].querySelectorAll("td, th");
	            
	            for (var j = 0; j < cols.length; j++) 
	                row.push(cols[j].innerText);
	            
	            csv.push(row.join(","));        
	        }

	        // Download CSV file
	        downloadCSV(csv.join("\n"), filename);
	    }
	    
	    function downloadCSV(csv, filename) {
	        var csvFile;
	        var downloadLink;

	        // CSV file
	        csvFile = new Blob([csv], {type: "text/csv"});

	        // Download link
	        downloadLink = document.createElement("a");

	        // File name
	        downloadLink.download = filename;

	        // Create a link to the file
	        downloadLink.href = window.URL.createObjectURL(csvFile);

	        // Hide download link
	        downloadLink.style.display = "none";

	        // Add the link to DOM
	        document.body.appendChild(downloadLink);

	        // Click download link
	        downloadLink.click();
	    }
	    
	    $(document).ready(function(){
	    	$('#selectedElective').css('color','#8F8B87');
	    	$('#selectedElective').change(function() {
	    	      var current = $('#selectedElective').val();
	    	      if (current != 'none') {
	    	          $('#courseSem').css('color','black');
	    	          document.getElementById("seats").placeholder = "Enter new Seats";
	    	      } else {
	    	          $('#courseSem').css('color','#8F8B87');
	    	      }
	    	   });
	    });
	    
    </script>

  
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<body>
     
     <!-- script to turn nav link active -->
	<script type="text/javascript">
		var navBar = document.getElementById("nav-bar");		
		var current = navBar.getElementsByClassName("active");
	    // If there's any other active nav, make it inactive
	    if (current.length > 0) { 
	      current[0].className = current[0].className.replace(" active", "");
	    }
		//set current page nav as active
		document.getElementById("show-allocations").className+=" active";		
	</script>
<div class="card bg-light">
<article class="card-body mx-auto">
	<h6 class="card-title mt-3 text-center">Enter Elective Details</h6>
	
	<form role="form" th:object="${course}" action='/u/admin/findElectivesToShow' method='post' id="all_form">   
	<table>
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${departments}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select Year
			</td>
			<td>
				<select class="form-control" name="courseYear" id="courseYear" required th:field="*{courseYear}">
				<option value="none" style="color:#8F8B87" selected>Select Year</option>
				<option value="FE" style="color:#000">FE</option>
				<option value="SE" style="color:#000">SE</option>
				<option value="TE" style="color:#000">TE</option>
				<option value="BE" style="color:#000">BE</option>
			</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select Semester
			<td>
				<select class="form-control"  name="courseSem" id="courseSem" required th:field="*{courseSem}">
					<option value="0" style="color:#8F8B87" selected>Select Semester</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
	        		<button type="submit" id="submit_all" name="submit_all" class="btn btn-primary btn-block"> Get Electives </button>
	    	</td> 	  
		</tr>
		
		</table>
		</form>
		
		<form th:if="${elective_ids}" th:fragment="${elective_fragment}" th:action="@{/u/admin/showAllocations}"  role="form" method="POST" th:object="${elective}">   	    
			<table>
				<tr>
					<td  colspan=2 align=center>
					    <h4 class="card-title mt-3 text-center">Elective Course</h4>
					</td>
				</tr>
				
				<tr>
					<td>
						Select Elective Course
					</td>
					<td>		
						<select class="form-control" name="electiveIdOption" id="electiveIdOption">
							<option value="none" style="color:#8F8B87" selected>Select Course number</option>
							<option th:each="i : ${elective_ids}" th:value="${i.courseId}" th:text="${i.courseName}" style="color:#000"></option>
						</select>							
					</td>
				</tr>
				
				<tr>
					<td colspan=2 align=center>
						<button type="submit" id="submit_elective" name="submit_elective" class="btn btn-primary btn-block"> Submit  </button>     	
					</td>
				</tr>
			</table> 	                                                 
	</form>
	</article>
	
	<article class="card-body mx-auto" th:if="${studAllocations}">
		<button class="btn btn-primary" onclick="exportTableToCSV()">Export Table To CSV File</button>
	</article>
	
	<article class="card-body mx-auto">
	<table th:if="${studAllocations}" id="allocTable" class="table table-striped table-hover table-bordered">
		<tr>
			<th>Division</th>
			<th>Roll number</th>
			<th>Student Name</th>
			<th>Elective Name</th>
			
		</tr>
		<tr th:each="i : ${studAllocations}">
		
		<td th:text="${i.student.div.divId}"></td>
		<td th:text="${i.student.rollno}"></td>
		<td th:text="${i.student.userDets.firstName +' '+ i.student.userDets.lastName}"></td>
		<td th:text="${i.elective.electiveName + ' (' + i.elective.electiveCourseId + ' )'}"></td>
		</tr>
	</table>
	</article>
	<div class="row text-center card-body mx-auto" th:fragment="messageDiv">
		<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
 		<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
 	</div>  
</div>
</body>