<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <title>Add Courses</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
	
    <script>
	    $(document).ready(function () {
	        $("#submit").click(function () {
	        	
	            var day = $('#day');
	            var dept = $('#dept');

	            if (dept.val() == "none") {
	                alert("Please select a course department");
	                $('#dept').focus();
	                
	                return false;
	            }  else if (day.val() == "none") {
	                alert("Please select a day");
	                $('#day').focus();
	                
	               return false;
	            } 
	            return;
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#dept').css('color','#8F8B87');
    	   $('#dept').change(function() {
    	      var current = $('#dept').val();
    	      if (current != 'none') {
    	          $('#dept').css('color','black');
    	      } else {
    	          $('#dept').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#day').css('color','#8F8B87');
    	   $('#day').change(function() {
    	      var current = $('#day').val();
    	      if (current != 'none') {
    	          $('#day').css('color','black');
    	      } else {
    	          $('#day').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
    </script>
    
</head> 

<div th:replace="fragments/admin_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("addCourse-nav").className+=" active";		
</script>

<body>

<div class="card bg-light">
<article class="card-body mx-auto">
	<h4 class="card-title mt-3 text-center">Upload Time Table</h4>

	<form th:action="@{/u/admin/upload_TT}"  role="form" method="POST" enctype="multipart/form-data"> 
	<table>
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${departments}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select Day
			</td>
			<td>
				<select class="form-control" name="day" id="day" required>
					<option value="none" style="color:#8F8B87" selected>Select Day</option>
					<option value="Monday" style="color:#000">Monday</option>
					<option value="Tuesday" style="color:#000">Tuesday</option>
					<option value="Wednesday" style="color:#000">Wednesday</option>
					<option value="Thursday" style="color:#000">Thursday</option>
					<option value="Friday" style="color:#000">Friday</option>
					<option value="Saturday" style="color:#000">Saturday</option>
					<option value="Sunday" style="color:#000">Sunday</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Select File
			</td>
			<td>
				<input type="file" name="timeTableFile" />
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
	        		<button type="submit" id="submit" class="btn btn-primary btn-block"  style="width:150px"> Upload </button>
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>
	</table>                                             
	</form>		
</article>

<div class="row text-center mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
	<div class="alert alert-danger" role="alert" th:if="${err_msg}" th:utext="${err_msg}"></div>
</div>  
</div>
</body>