<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin_header.html :: headerfiles"></th:block>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>View Users</title>

	<link rel="stylesheet" th:href="@{/css/register.css}">
    
    <script>
	  
	    $(document).ready(function () {
	    	
	    	$('#adminTableArticle').hide();
	        $('#studTableArticle').hide();
	        $('#viewAdminForm').hide();
	        $('#viewFacForm').hide();
	    	$('#viewStudentForm').hide();

	        $("#viewStudentsButton").click(function () {
	
	            var dept = $('#dept');
	           	var year = $('#year');
	            
 	           if (dept.val() == "none") {
	                alert("Please select a department");
	                $('#dept').focus();
	                
	                return false;
	            }  else if (year.val() == "none") {
	                alert("Please select year");
	                $('#year').focus();
	                
	               return false;
	            }            
	            else{
	            	
	            	$.ajax({
	     	 	        type: "POST",
	     	 	        url: '/u/admin/viewStudents',
	     	 	        data: { dept: dept.val(), year: year.val()},
	     	 	        success: function (data) {
	     	 	        	$('#adminTableArticle').hide();
	     	 	        	$('#studTableArticle').show();
	     	 	        	$("#studTable").html('');
	     	 	        	$("#studTable").html(data);
	     	 	     		
	     	               }
	     	 		});
	            	
	            }
 	   		
	        });
	        
	        $("#viewAdminsButton").click(function (){
	        	$.ajax({
     	 	        type: "GET",
     	 	        url: '/u/admin/viewAdmins',
     	 	        
     	 	        success: function (data) {

     	 	        	$('#studTableArticle').hide();
     	 	        	$('#adminTableArticle').show();
     	 	        	$("#adminsTable").html('');
     	 	        	$("#adminsTable").html(data);
     	 	     		
     	               }
     	 		});
	        });
	        
	        $("#viewFacultyButton").click(function (){
	        	 var dept = $('#facdept');
		           
	        	$.ajax({
     	 	        type: "POST",
     	 	        url: '/u/admin/viewFaculty',
     	 	      	data: { dept: dept.val()},
   	 	        	success: function (data) {
     	 	        	$('#studTableArticle').hide();
     	 	        	$('#adminTableArticle').hide();
     	 	        	$('#facultyTableArticle').show();
     	 	        	$("#facultyTable").html('');
     	 	        	$("#facultyTable").html(data);     	 	     		
     	               }
     	 		});
	        });
	    });
	    
	    $(document).ready(function() {
    	   $('#role').css('color','#8F8B87');
    	   $('#role').change(function() {
    	      var current = $('#role').val();
    	      if(current == 'STUDENT'){
    	    	  $('#viewAdminForm').hide();
    	    	  $('#viewStudentForm').show();
    	    	  $('#viewFacForm').hide();
    	    	  
    	      }
    	      else if(current == 'FACULTY'){
    	    	  $('#viewAdminForm').hide();
    	    	  $('#viewStudentForm').hide();
    	    	  $('#viewFacForm').show();
    	      }
    	      else{
    	    	  $('#viewAdminForm').show();
    	    	  $('#viewStudentForm').hide();
    	    	  $('#viewFacForm').hide();
    	      }
    	      
    	      if (current != 'selectrole') {
    	          $('#role').css('color','black');
    	      } else {
    	          $('#role').css('color','#8F8B87');
    	
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#dept').css('color','#8F8B87');
    	   $('#dept').change(function() {
    	      var current = $('#dept').val();
    	      if (current != 'none') {
    	          $('#dept').css('color','black');
    	      } else {
    	          $('#dept').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
	    $(document).ready(function() {
    	   $('#year').css('color','#8F8B87');
    	   $('#year').change(function() {
    	      var current = $('#year').val();
    	      if (current != 'none') {
    	          $('#year').css('color','black');
    	      } else {
    	          $('#year').css('color','#8F8B87');
    	      }
    	   }); 
    	});
	    
    </script>
    
</head>

<div th:replace="fragments/admin_header :: header"></div>

<!-- script to turn nav link active -->
<script type="text/javascript">
	var navBar = document.getElementById("nav-bar");		
	var current = navBar.getElementsByClassName("active");
    // If there's any other active nav, make it inactive
    if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
    }
	//set current page nav as active
	document.getElementById("viewUsers-nav").className+=" active";		
</script>
<body>

<div class="card bg-light">
<article class="card-body mx-auto">
	<h4 class="card-title mt-3 text-center">View Users</h4>
	<table>
		<tr>
			<td>
				Select Role
			</td>
			<td>
				<select class="form-control" th:name="role" th:id="role" autofocus>
					<option value="selectrole" style="color:#8F8B87" selected>Select Role</option>
					<option th:each="role : ${roles}" th:value="${role.role}"  th:text="${role.role}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		<tbody id="viewStudentForm">
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="dept" th:name="dept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${department}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
	
		<tr>
			<td>
				Select Year
			</td>
			<td>
				<select class="form-control" name="year" id="year">
					<option value="none" style="color:#8F8B87" selected>Select Year</option>
					<option value="FE" style="color:#000">FE</option>
					<option value="SE" style="color:#000">SE</option>
					<option value="TE" style="color:#000">TE</option>
					<option value="BE" style="color:#000">BE</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
       					<button  class="btn btn-primary" id="viewStudentsButton">View</button>	        		
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>		
		</tbody>
		<tbody id="viewAdminForm">
			<tr>
			<td colspan=2 align=center>
				<div class="form-group">
       					<button  class="btn btn-primary" id="viewAdminsButton">View</button>	        		
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>			
		</tbody>
		<tbody id="viewFacForm">
		<tr>
			<td>
				Select Department
			</td>
			<td>
				<select class="form-control" th:id="facdept" th:name="facdept" autofocus>
					<option th:value="none" style="color:#8F8B87" selected>Select Department</option>
					<option th:each="dept : ${department}" th:value="${dept.deptId}"  th:text="${dept.deptName}" style="color:#000"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center>
				<div class="form-group">
       					<button  class="btn btn-primary" id="viewFacultyButton">View</button>	        		
	    		</div> <!-- form-group// -->  
	    	</td> 	  
		</tr>		
		</tbody>		
	</table>
</article>
<article class="card-body mx-auto" id="studTableArticle">

	<div id="studTable" th:fragment="studTable">
	<table class="table table-bordered table-hover" th:if="${studUsersList}"> 
	  <thead class="thead-dark">
	    <tr>    
    	  <th scope="col">Sr. No</th>	      
	      <th scope="col">RollNo</th>
	      <th scope="col">Name</th>      
	      <th scope="col">User Name</th>
	      <th scope="col">Division</th>
	      <th scope="col">Shift</th>
	      <th scope="col">CGPA</th>
	      <th scope="col">Email</th>	      
	    </tr>
	  </thead>			
	  <tbody>
	    <tr th:each="rs : ${studUsersList}">	    	
	     	<td th:text="${rs.srNo}"></td>
	     	<td th:text="${rs.rollNo}"></td>
	     	<td th:text="${rs.name}"></td>
	     	<td th:text="${rs.userName}"></td>
	     	<td th:text="${rs.div}"></td>
	     	<td th:text="${rs.shift}"></td>
	     	<td th:text="${rs.aggrMarks}"></td>
	    	<td th:text="${rs.email}"></td>
	   	</tr>
	  </tbody>
	</table>	
	</div>		                                         
</article>
<article class="card-body mx-auto" id="adminTableArticle">
	<div id="adminsTable" th:fragment="adminsTable">
	<table class="table table-bordered table-hover" th:if="${adminUsersList}"> 
	  <thead class="thead-dark">
	    <tr>    
    	  <th scope="col">Sr. No</th>	      
	      <th scope="col">Name</th>      
	      <th scope="col">User Name</th>
	      <th scope="col">Email</th>	      
	    </tr>
	  </thead>			
	  <tbody>
	    <tr th:each="rs,iterStat : ${adminUsersList}">	    	
	     	<td th:text="${iterStat.count}"></td>
	     	<td th:text="${rs.firstName} + ' ' + ${rs.lastName}"></td>
	     	<td th:text="${rs.userName}"></td>
	    	<td th:text="${rs.email}"></td>
	   	</tr>
	  </tbody>
	</table>	
	</div>	
</article>
<article class="card-body mx-auto" id="facultyTableArticle">
	<div id="facultyTable" th:fragment="facultyTable">
	<table class="table table-bordered table-hover" th:if="${facultyUsersList}"> 
	  <thead class="thead-dark">
	    <tr>    
    	  <th scope="col">Sr. No</th>	      
	      <th scope="col">Name</th>      
	      <th scope="col">User Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Designation</th>	
	      <th scope="col">Experience</th>
	      <th scope="col">Qualification</th>
	            
	    </tr>
	  </thead>			
	  <tbody>
	    <tr th:each="rs,iterStat : ${facultyUsersList}">	    	
	     	<td th:text="${iterStat.count}"></td>
	     	<td th:text="${rs.name}"></td>
	     	<td th:text="${rs.userName}"></td>
	    	<td th:text="${rs.email}"></td>
	    	<td th:text="${rs.designation}"></td>
	   		<td th:text="${rs.exp}"></td>
	   		<td th:text="${rs.qualification}"></td>
	   	</tr>
	  </tbody>
	</table>	
	</div>	
</article>

<div class="row text-center card-body mx-auto">
	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
   	<div class="alert alert-danger" role="alert" th:if="${errmsg}" th:utext="${errmsg}"></div>
</div>  
</div>
 	
</body>