<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap core CSS -->    
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
   	
   	
	<script>
	    $(document).ready(function () {
	        document.getElementById("courseDrop").dropdown();
	        document.getElementById("allocationDrop").dropdown();     
	    });
	</script>
	</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" th:fragment="header">

	<a class="navbar-brand" href="#">
		<img th:src="@{/img/pccoelogo.png}" width=30 height=30 class="d-inline-block align-top" alt="PCCOE LOGO">QRMS
	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-div" aria-controls="admin-div" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
	<div class="navbar-collapse collapse" id="admin-div">
	   	<ul class="navbar-nav mr-auto" id="nav-bar">
			  <li class="nav-item">
			 	<a class="nav-link" th:href="@{/u/admin/home}" id="home-nav">Home</a>
		      </li>
		    
		      <li class="nav-item dropdown">
		  	    <a class="nav-link dropdown-toggle" href="#" id="courseDrop" data-toggle="dropdown">
			     Users
			 	</a>
			 	<div class="dropdown-menu">
		  	    	<a class="dropdown-item" th:href="@{/u/admin/register}" id="registerUsers-nav">Register Users</a>
		  	    	<a class="dropdown-item" th:href="@{/u/admin/viewUsers}" id="viewUsers-nav">View Users</a>
		  	    </div>
		      </li>
			  
			  <li class="nav-item dropdown">
			  	<a class="nav-link dropdown-toggle" href="#" id="courseDrop" data-toggle="dropdown">
			     Course
			 	</a>
			   	<div class="dropdown-menu">
			     <a class="dropdown-item" th:href="@{/u/admin/add-course}" id="addCourse-nav">Add Courses</a>
			     <a class="dropdown-item" th:href="@{/u/admin/add-elective}" id="addElective-nav">Add Electives</a>
		   		 <a class="dropdown-item" th:href="@{/u/admin/delete-course-elective}" id="delElective-nav">Delete Course/Elective</a>
				<a class="dropdown-item" th:href="@{/u/admin/view-courses}" id="viewCourses-nav">View Courses</a>
				
			   	</div>
			  </li>
			  
			  <li class="nav-item dropdown">
			  	<a class="nav-link dropdown-toggle" href="#" id="allocationDrop" data-toggle="dropdown">
			     Student Allocation
			 	</a>
			   	<div class="dropdown-menu">
			     <a class="dropdown-item" th:href="@{/u/admin/openCourseAllocation}" id="openPref-nav">Open Preference Forms</a>
			     <a class="dropdown-item" th:href="@{/u/admin/getShowAllocations}" id="show-allocations">Show Allocations</a>
			   	</div>
			  </li>
			  
		      <li class="nav-item">
			 	<a class="nav-link" th:href="@{/u/admin/getfacultyAllocationPage}" id="facultyAllocation-nav">Faculty Allocation</a>
		      </li>

			  <li class="nav-item">
			 	<a class="nav-link" th:href="@{/u/admin/getDepartmentsPage}" id="dept-nav">Departments</a>
		      </li>
		      
			<li class="nav-item dropdown">
	      	   	<a class="nav-link dropdown-toggle" href="#" id="bookingsDrop" data-toggle="dropdown">
				     Resource Management
			 	</a>
			   	<div class="dropdown-menu">
				   	<a class="dropdown-item" th:href="@{/u/admin/uploadTT}" id="dept-nav">Upload Time Table</a>
	      	   		<a class="dropdown-item" th:href="@{/u/admin/viewSchedule}" id="viewSchedule-nav">View resource schedule</a>
	   			</div>
	   		</li>		      
	 	</ul>
	    <div class="navbar-nav ml-auto">
	    	<a class="nav-link mr-sm-2" href="/logout">Log Out</a>
	    </div>
    </div>  
</nav>