<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" th:fragment="header">
	<a class="navbar-brand" href="#">
		<img th:src="@{/img/pccoelogo.png}" width=30 height=30 class="d-inline-block align-top" alt="PCCOE LOGO">QRMS
	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fac-div" aria-controls="fac-div" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
	<div class=" collapse navbar-collapse" id="fac-div">
	   <ul class="navbar-nav mr-auto" id="nav-bar">
	       <li class="nav-item" >
        	   <a class="nav-link" href="/u/faculty/home" id="home-nav">Home</a>
      	   </li>
      	   <li class="nav-item" >
        	   <a class="nav-link" href="/u/faculty/givePreferenceChoice"  id="cpref-nav">Course Preference</a>
      	   </li>
      	   <li class="nav-item dropdown">
	      	   	<a class="nav-link dropdown-toggle" href="#" id="bookingsDrop" data-toggle="dropdown">
				     Resource Management
			 	</a>
			   	<div class="dropdown-menu">
				   	<a class="dropdown-item" th:href="@{/u/faculty/bookings}" id="bookings-nav">Resource Booking</a>
	      	   		<a class="dropdown-item" th:href="@{/u/faculty/resourceRequests}" id="requests-nav">Resource Requests</a>
	      	   		<a class="dropdown-item" th:href="@{/u/faculty/viewSchedule}" id="viewSchedule-nav">View resource schedule</a>
	      	   		<a class="dropdown-item" th:href="@{/u/faculty/viewBookingHistory}" id="viewBookingHistory-nav">View booking history</a>
	   			</div>
	   		</li>
	   </ul>
	   <div class="navbar-nav ml-auto">
          <a class="nav-link mr-sm-2" href="/logout">Log Out</a>
       </div>          
	</div>    
</nav>