<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>QRMS Login</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
   <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <form class="form-signin text-center" th:action = "@{/login}" method="POST">
                
                <img class="mb-4" th:src="@{/img/pccoelogo.png}" alt="" width="100" height="100" />
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="studUsername" class="sr-only">Username</label>
                <input type="text" name="username" id="studUsername" class="form-control" placeholder="Username" required autofocus/>
                <label for="studPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="studPassword" class="form-control" placeholder="Password" required/>
                <button class="btn btn-lg btn-primary btn-block" id="studLogin" type="submit">Log in</button>
                <br>
                <label>
                    <div class="forgot">
                        <a href="/forgotPassword">Forgot password?</a>
                    </div>
                </label>
                
            </form>
        </div>
        <div class="form-signin text-center">
    		<div class="alert alert-success" role="alert" th:if="${ message != null }" th:text="${message}"></div>	    	
    	</div>
	    <div class="form-signin text-center" >
	    	<div class="alert alert-danger" role="alert" th:if="${param.error}">Username or Password are incorrect</div>
    	</div>
	    	
</div>
</body>

</html>