a<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
   <link th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body>
	<div class="container">
        <div>
			<form class="form-signin text-center" th:action = "@{/updatePassword}" method="POST">
				<img class="mb-4" th:src="@{/img/pccoelogo.png}" alt="" width="100" height="100" />
                <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
               	<div>
               	<label for="password1" class="sr-only">New Password</label>
                <input type="password" name="password1" id="password1" class="form-control" placeholder="Enter new password" required autofocus/>
                <input type="hidden" name="h_username" th:value="${username}">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
           
			</form>
		</div>
	</div>
</body>
 
</html>